[2017-03-14 09:30] csswizardry opened #1 "Set up initial build steps"
Let’s get basic compilation and linting set up in a minimal environment (e.g. simple Gulp/Broccoli tasks).

[2017-03-14 14:18] csswizardry opened #3 "Directory scaffolding"
We’ll build the CSS on ITCSS, so I need to start fleshing out the directory structure and scaffolding.

[2017-03-14 14:29] #1 closed, assigned to csswizardry, chriscoffee

[2017-03-14 15:40] #3 closed, assigned to csswizardry

[2017-03-14 15:48] csswizardry opened #5 "Add rudimentary resetting"
We should use Normalize.css etc. to give us a stable baseline to develop on top of.

[2017-03-15 10:08] csswizardry opened #7 "Increase Sass’ precision"
If we can compile the Sass to 9 decimal places, we get much finer grained control over our vertical rhythm, e.g. we’re currently getting values like:

[code]

…which leaves us 1px short of our baseline grid. Simply changing this to:

[code]

…sits on the baseline grid _perfectly_.

I know we’re not striving for pixel perfection, but this is just one config change that could make a pretty decent im

[2017-03-15 10:09] #5 closed, assigned to csswizardry

[2017-03-15 10:10] csswizardry opened #8 "Add initial typographical elements"
Let’s stick some of the simpler stuff in: `html`, `h1–6`, etc.

[2017-03-15 11:26] #7 closed, assigned to chriscoffee

[2017-03-15 12:26] csswizardry opened #11 "Add colours"
Colours may change, but there’s enough already defined that I can begin building some kind of colour management module.

[2017-03-15 12:29] #8 closed, assigned to csswizardry

[2017-03-15 14:37] #11 closed, assigned to csswizardry

[2017-03-15 14:42] csswizardry opened #13 "Add buttons"
Nice and simple for our first component. Buttons!

[2017-03-15 16:59] chriscoffee opened #14 "Minor improvements and additions"
I'd like to accomplish the following:

- Better arragement and commenting within the Gulpfile and naming so it's easier when we move to explaining the work to others and deploying it.
- Implementing an EditorConfig file and making sure documentaiton and links are there for developers.
- Simple pre-commit/travis build that makes sure linting is run.
- Generation of sourcemaps.

[2017-03-15 23:27] csswizardry opened #15 "Add layout system and peripherals"
We need a grid/layout system—that should be pretty quick to add in.

* [x] Sass MQ (done  in https://github.com/NHSLeadership/nightingale/commit/f5405a38d9d3f046ea42f30d26584d01b32108bb)
* [x] Layout utility classes (done in https://github.com/NHSLeadership/nightingale/commit/33e70043c33930434ba03b0b9d1cb41a2f6903ba)
* [x] Layout system (aka grid system) (done in https://github.com/NHSLeadership/n

[2017-03-16 10:43] csswizardry opened #17 "Add spinners"
These are such a simple little bit of UI that I actually already built it last night. Gonna sneak it in real quickly today.

[2017-03-16 11:00] #13 closed, assigned to csswizardry

[2017-03-16 13:25] #17 closed, assigned to csswizardry

[2017-03-16 13:26] csswizardry opened #19 "Implement load/include paths in Sass"
In order to neatly include npm packages into our codebase, we should look into using something like include- or load-paths via Gulp.

Enlisting @chriscoffee’s help!

[2017-03-16 16:59] #15 closed, assigned to csswizardry

[2017-03-16 17:02] csswizardry opened #21 "Add baseline image styles"

[2017-03-18 09:27] #21 closed, assigned to csswizardry

[2017-03-18 09:28] csswizardry opened #23 "Add ribbon styles"
There are messages that appear at the tops of pages (I’m calling ’em ribbons for now). Implement basic colours and structure.

[2017-03-18 09:39] csswizardry opened #25 "Add page footer"

[2017-03-18 09:48] csswizardry opened #27 "Misc typographical things"
There are a handful of things I’d like to neaten or tidy up with the typography.

[2017-03-18 09:53] csswizardry opened #29 "Tidy up time"
I’ve been keeping things tidy as I go along—naturally—but there are a few specific things that I’m going to open up a specific issue for.

[2017-03-18 11:18] #23 closed, assigned to csswizardry

[2017-03-18 11:40] #29 closed, assigned to csswizardry

[2017-03-18 11:42] chriscoffee opened #31 "Remove Gulp requirement and get the base for tests added."
I'm going to remove the requirement for Gulp. It feels like we're wasting some basic speed improvements by not using package.json scripts with cli rather than wrappers around everthing. The increase in dependencies is also a bit pants in terms of bloat that I have added.

[2017-03-18 15:56] #14 closed, assigned to chriscoffee

[2017-03-19 01:15] chriscoffee opened #32 "Add Webfonts"
Hello friend. Here are the web fonts when you get time. Currently the domains that I have added are as follows *.ngrok.io / *.leadershipacademy.nhs.uk and localhost is on by default.

### JS Version 😢

`<script type="text/javascript" src="//fast.fonts.net/jsapi/4be9a0d2-9756-4a2d-a1e8-5623777491f4.js"></script>`

### CSS Version

`<link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssap

[2017-03-19 22:15] #27 closed, assigned to csswizardry

[2017-03-19 22:16] #25 closed, assigned to csswizardry

[2017-03-30 14:19] csswizardry opened #34 "Add editorconfig"

[2017-04-20 08:58] chriscoffee opened #35 "Add composer file so that team can pull into wordpress theme"
For the time being whilst we find a better way to include this repo into the other stuff we do with wordpress/moodle i'm going to make it a composer package to pull in. This really need some thought though as it's not the ideal solution.

[2017-04-20 15:50] #19 closed, assigned to chriscoffee

[2017-04-20 16:33] Android63 opened #39 "Middleware Discussion"
I'm working on integrating Nightingale into our Wordpress theme (which is based on the Underscores theme) and I'm not sure how to handle the styling of widgets since their markup is outside my control.

I registered three widget areas in the footer by adding three versions of the following code to the `nightingale_wp_widgets_init` function (in `functions.php`):

[code]
I then added the following c

[2017-04-26 09:16] #35 closed, assigned to chriscoffee

[2017-04-26 10:50] #34 closed, assigned to csswizardry

[2017-04-26 11:18] chriscoffee opened #41 "Hotfix: Issue with tkt-00031 that I didn't see."
JSON syntax issue.

[2017-04-26 11:27] #41 closed, assigned to nobody

[2017-04-26 11:27] #31 closed, assigned to chriscoffee

[2017-04-26 15:09] #32 closed, assigned to csswizardry

[2017-04-26 15:43] csswizardry opened #44 "Grid system broken in IE8"
The grid system is completely kaput in IE8 😢 Simple enough fix (the issue is with using rems).

[2017-04-26 16:08] #44 closed, assigned to csswizardry

[2017-05-04 09:42] jdbrew opened #46 "Express.js for prototyping"
Add in express.js to allow browser prototyping for designers.
(Based on https://github.com/alphagov/govuk_prototype_kit)

[2017-05-04 10:18] #46 closed, assigned to nobody

[2017-05-04 11:27] penpadstudio opened #47 "Remove quarter grids"
Can we remove the quarter grids from the framework please? and please see visual edits for amendments...
<img width="677" alt="screen shot 2017-05-04 at 12 24 32" src="https://cloud.githubusercontent.com/assets/23170050/25701527/bb4f81c2-30c4-11e7-943d-9d62db2603c6.png">

[2017-05-04 11:29] #47 closed, assigned to nobody

[2017-05-04 11:30] p5uln opened #48 "Grid amendments"
Can we remove the quarter grids from the framework please? and please see visual edits for amendments...
<img width="677" alt="screen shot 2017-05-04 at 12 24 32" src="https://cloud.githubusercontent.com/assets/23170050/25701695/5b688a8c-30c5-11e7-8bbf-e8783d8d0992.png">

[2017-05-04 16:15] p5uln opened #49 "NHS Lozenge boarder"
The NHS Lozenge needs to have a 30px boarder/padding and 15px for mobile.

[2017-05-04 16:21] Pro-Paul opened #50 "Beta headline"
Beta headline bar, the copy should be constrained by the one column grid width.

[2017-05-11 10:03] csswizardry opened #51 "Page layout"
I’m gonna sling together a more realistic looking page of content; show some page layout/columns, etc.

[2017-05-17 08:43] chriscoffee opened #52 "Fonts being served from assets is a problem."
@jdbrew has been working on putting together a prototype kit to scaffold parts of the site quickly and prototype stuff fast similar to the gov site.

However, due to fonts being hard coded to assets/fonts it's proving difficult to get them served correct. Given you can't extend @font-face and I've tried serving the fonts from /assets/fonts in the router it's still not having it.

For the time bein

[2017-05-30 10:00] csswizardry commented on #52
Heyyo!

I’m not sure I fully understand the issue I’m afraid. As in, what was it about `assets/fonts` that was proving <q>difficult to get them served correct</q>?

The difference between `assets/fonts` and `fonts` is minimal, so there’s nothing about this change I dislike—I’d just like to understand the problem a little more is all 😊

[2017-05-30 10:14] csswizardry commented on #50
Whilst this is absolutely doable, I’m concerned about building in so much inflexibility—what if someone translates the page into a different language, or increases their font size, of we ever need to use words longer than _Beta_.

I’d recommend letting the size of the lozenge be dictated by its content, that way we never need to intervene—flexible by default.

(We can increase left/right padding t

[2017-05-30 10:15] csswizardry opened #53 "z-index management"
I don’t want to end up with `z-index: 99999999999999;` in this project if I can help it, so I’d like to look at ways of mitigating that sooner rather than later.

Gonna look into recycling an approach I took at Sky.

[2017-05-30 12:27] #53 closed, assigned to csswizardry

[2017-05-30 13:49] csswizardry opened #56 "Misc UI"
Long-lived holding-pen issue for small and uncategorisable UI tasks.

[2017-05-31 09:55] #51 closed

[2017-05-31 09:55] #48 closed

[2017-05-31 10:34] csswizardry opened #57 "Progress Bars"
Gonna quickly put together the progress indicators.

[2017-05-31 10:50] #56 closed, assigned to csswizardry

[2017-05-31 11:30] csswizardry opened #59 "Upgrade Normalize.css and link it as a npm dep"
Normalize.css currently sits at v7.0.0 yet we’re still on 5.0.0. The latest version still supports IE8, so we can safely update.

Whilst we’re at it, I’d like to begin including it as a proper dependency—currently I’m just manually replicating updates into our own static Sass file which is kinda icky.

[2017-05-31 11:41] #49 closed

[2017-05-31 16:39] csswizardry commented on #57
Made decent headway on these. Leaving myself a note for tomorrow:

* ~~Place text inside progress wheel~~

[2017-05-31 18:29] csswizardry commented on #57
Looks pretty janky because it’s a `.gif`, but:

![GIF showing animations on linear progress bars](https://d3vv6lp55qjaqc.cloudfront.net/items/3h3S3I111X1z273z1a0H/Screen%20Recording%202017-05-31%20at%2008.28%20pm.gif?X-CloudApp-Visitor-Id=138442&v=e363d3e9)

[2017-06-01 14:05] csswizardry commented on #52
Closing in response to https://github.com/NHSLeadership/nightingale/commit/989ca456551e2b8fe0c2c5ca5683e1bcfb0d13ec#commitcomment-22341828

[2017-06-01 14:05] #52 closed, assigned to jdbrew, csswizardry, chriscoffee

[2017-06-02 16:00] #59 closed, assigned to csswizardry

[2017-06-04 08:36] csswizardry opened #61 "Properly styled and sized logo"
@p5uln noted that the logo was the incorrect size and format, so I’ve fixed that (as per the Sketch file).

[2017-06-04 08:37] csswizardry opened #62 "Wrapping element fixes"
The `.o-wrapper` element has overly large gutters on mobile and doesn’t contain floats properly.

[2017-06-04 08:42] csswizardry opened #63 "Page header"
I need to start putting the page header together. This will be a big task so it might get broken into subtasks at some point.

[2017-06-04 08:51] #61 closed, assigned to csswizardry, penpadstudio

[2017-06-04 08:53] #62 closed, assigned to csswizardry

[2017-06-08 08:37] csswizardry commented on #50
TODO: Constrain overall width to fit inside of page wrapper, rather than being automatically full width.

[2017-06-08 09:03] penpadstudio opened #67 "Header & Footer purple banner height"
swap from 15px to 10px

[2017-06-08 09:05] #57 closed, assigned to csswizardry

[2017-06-08 09:52] csswizardry commented on #67
@p5uln:

<img width="1440" alt="screen shot 2017-06-08 at 10 52 01" src="https://user-images.githubusercontent.com/751944/26922944-976ef758-4c38-11e7-9bb7-297278431249.png">

[2017-06-08 19:50] penpadstudio opened #68 "NHS logo"
We need to reformat the NHS logo top right to a full png (SVG) i.e. not font because we don't want the font  rendering in anything but Frutiger by mistake.

We can use the logo png from here:
https://github.com/NHSLeadership/Sketch-Leadership-Academy-Identity-logo-kit-for-digital

As these are intended for this purpose.

[2017-06-09 09:06] penpadstudio commented on #67
@csswizardry can we check that the footer also uses same 10px height on purple banner.

[2017-06-09 09:07] penpadstudio commented on #63
@csswizardry Suggest first laying out simple transitions for header features, then review.

[2017-06-09 09:09] penpadstudio commented on #50
@csswizardry also need to update copy content as in sketch file:
https://github.com/NHSLeadership/Sketch-Leadership-Academy-FEF-Template-Kit

[2017-06-09 09:11] penpadstudio commented on #50
@csswizardry also update Alpha & Beta to bold.

[2017-06-09 09:12] penpadstudio commented on #50
@csswizardry update close cross button on right to
![screen shot 2017-06-09 at 10 11 44](https://user-images.githubusercontent.com/23170050/26968996-0edf3456-4cfc-11e7-9b38-da7d35e92f77.png)

as in sketch file.

[2017-06-09 10:16] penpadstudio opened #69 "Hidden copy link"
@csswizardry Can we remove the green hex value for visited link and swap it for: #005EB8
Hover over hex value can also be added as: #8060A7

[2017-06-09 10:59] penpadstudio opened #70 "Update to links in Typography Styling"
@csswizardry Updates to links:
<img width="179" alt="screen shot 2017-06-09 at 11 58 12" src="https://user-images.githubusercontent.com/23170050/26972741-eeccdc40-4d0a-11e7-8b7d-4673c7116c79.png">

See latest sketch commit: https://github.com/NHSLeadership/Sketch-Leadership-Academy-FEF-Template-Kit

[2017-06-09 11:34] csswizardry opened #71 "Icon Strategy"
We need to discuss how to best package up and distribute icons.

* SVG?
  * If so, which fallbacks and how?
* Sprite?
* Embedded in HTML?
* Separately versioned project?

[2017-06-09 13:10] csswizardry commented on #70
Note to self: let’s implement:

[code]

[2017-06-09 15:26] #69 closed, assigned to csswizardry

[2017-06-09 15:26] #70 closed, assigned to csswizardry

[2017-06-09 15:26] penpadstudio opened #73 "H5 & H6"
@csswizardry Can we state that H5 and H6 copy the H4 style in case users accidentally use them.

[2017-06-09 15:30] csswizardry opened #75 "Ensure DETAILS text is the correct colour"
Text in `details` elements needs to be a little lighter than it currently is (see Sketch file).

[2017-06-09 15:47] #75 closed, assigned to csswizardry

[2017-06-09 15:48] #73 closed, assigned to csswizardry

[2017-06-10 07:56] csswizardry opened #77 "Form Styles"
This is a pretty monolithic issue right now, so we might need to break it down as we progress.

[2017-06-10 10:48] csswizardry commented on #77
@p5uln

![](https://d3vv6lp55qjaqc.cloudfront.net/items/3R202h1x0o0A1H3l262X/Screen%20Recording%202017-06-10%20at%2011.48%20am.gif?X-CloudApp-Visitor-Id=138442&v=e6718d9d)

[2017-06-13 10:04] penpadstudio commented on #77
@csswizardry Above screencast looks good aside from bullet points.

[2017-06-30 07:43] cehwitham opened #78 "Asset mapping introduction"
We need to setup an example mapping file (middleware) to enable @Android63 and @ishanivardhan  to start mapping some styles on to WordPress and Moodle while Nightingale is in development so that we can spot any issues early.

Form elements in WordPress are likely to be an area where this needs to be used as Gravity Forms has very specific markup that isn't easily changed.

[2017-06-30 09:15] csswizardry commented on #77
![image](https://user-images.githubusercontent.com/751944/27729186-bbc0f62e-5d7c-11e7-8d17-92ba4ea64903.png)

We’ll have to drop these (×) clear-content icons—stuff like this should be handled by the operating system instead of us attempting to replicate it.

[2017-06-30 09:17] csswizardry commented on #77
![image](https://user-images.githubusercontent.com/751944/27729268-1a0144fa-5d7d-11e7-83e8-ec3725cb321b.png)

~~Despite looking super-simple, the italicised text isn’t going to be possible without JS. There’s no way in CSS to tell whether a form field has any content in it, so we can’t un-italicise any forms that have been filled out.~~

This is actually super-simple—I forgot about `::placeholder`

[2017-06-30 09:33] csswizardry commented on #77
![image](https://user-images.githubusercontent.com/751944/27729678-983e3e8a-5d7e-11e7-86a5-f0bbe8e593c7.png)

I’d be **very** keen to keep these dropdowns as native browser UI so that we get better experience on mobile, as per:

![nightingale](https://user-images.githubusercontent.com/751944/27729934-88bb35f2-5d7f-11e7-90b9-adc146be61ad.png)

If we try to make our own implementation, we’ll just le

[2017-06-30 12:49] csswizardry opened #81 "Get WP theme consuming Sass"
Currently the WP theme consumes the monolithic, compiled CSS files, whereas it would be nice to have it consuming the Sass so that we can begin passing in our own config (e.g. writing out new asset URLs).

[2017-06-30 12:59] csswizardry commented on #39
UPDATE: Changed scope from **Styling for Wordpress widgets**

[2017-07-01 19:21] ishanivardhan commented on #62
@csswizardry - Wrt your Responsive wrapper paddings, npm run build throws below error when integrated in Moodle.

Error: "message": "no mixin named mq
Backtrace:node_modules/nightingale/objects/_objects.wrappers.scss:17"

Can you please check? Thanks!

[2017-07-02 16:54] csswizardry commented on #62
Have you run `npm install` to grab the Sass-MQ (etc.) dependencies?

[2017-07-02 17:01] ishanivardhan commented on #62
Yes, but to no luck. Just ran ```npm install``` followed by ```npm update``` again but still the same error. I had to comment this piece of code as it wasn't allowing me to build for the moment.

[2017-07-02 19:07] csswizardry commented on #62
Hmm. I just took a fresh clone, ran `npm install` and `npm run watch` (there isn’t a `build` task) back to back and everything worked just fine.

Have you included [Sass MQ](https://github.com/sass-mq/sass-mq)?

[code]

That’s the dependency that the `mq` mixin comes from.

[2017-07-02 19:52] ishanivardhan commented on #62
There you go! Yes that's what was missing. Imported it, works fine now.
Since I'm working on Moodle theme, I'm importing SASS files bit by bit as I need them instead of importing entire main.scss at once (atleast for now) and probably missed importing sass-mq separately. Thanks!

[2017-07-05 16:12] Android63 opened #82 "Bottom margin on ribbons"
Remove bottom margin so that ribbons stack correctly

[2017-07-06 14:12] csswizardry commented on #82
This should just be a case of deleting the `u-margin-bottom` class in the HTML. Ribbons don’t have a `margin-bottom` applied to them directly.

[2017-07-06 14:12] #82 closed, assigned to csswizardry

[2017-07-06 14:21] #50 closed

[2017-07-06 14:21] #77 closed, assigned to csswizardry

[2017-07-10 10:21] Android63 commented on #82
Agreed

[2017-07-11 10:05] csswizardry opened #83 "Design Tweaks"
* [x] Spacing improved on headers and across artboards
* [x] Increased button sizes from 30px to 36px accross artboards.
* [x] Enlarged NHS Logo on headers to 36px lozenge height.
* [x] link colour fixes

[2017-07-11 15:31] #67 closed, assigned to csswizardry

[2017-07-11 15:31] #63 closed, assigned to csswizardry

[2017-07-12 09:16] cehwitham commented on #81
@Android63 and I have worked on this and think we have a working solution. @Android63 is going to test some of the mapping once he's updated the watch command but we should be in business.

[2017-07-12 09:27] csswizardry commented on #83
@Pro-Paul: Buttons and inputs matching heights:

<img width="193" alt="screen shot 2017-07-12 at 10 24 35" src="https://user-images.githubusercontent.com/751944/28111227-b290bd22-66ec-11e7-87af-2fd2a4b32cc3.png">

[2017-07-12 09:46] cehwitham commented on #39
So few options to explore from the WordPress side before we get too involved on the Sass side.

On our current website we use "Spots" which is a plugin that allows you to create content in a similar way to posts or pages but you can assign a specific template to them and then output them in widget areas or in content bodies of other content. So you could create a "panel" template and a "progress t

[2017-07-12 10:21] #68 closed, assigned to csswizardry

[2017-07-12 10:45] Android63 commented on #39
Update: For ul elements in footer widgets, I'm using @extend to map Nightingale styling to WordPress as proposed in option 3 by @csswizardry. This is a simple and easy way to apply Nightingale styling without changing any markup and it will work no matter what the user places in the footer widget areas. I envision using the same technique for Gravity Forms. I'll read up on the Gutenberg and let's

[2017-07-12 14:56] csswizardry commented on #39
Just a polite reminder: `@extend` is a bit of an anti-pattern[1] and should only be used where no other option is available 👍

1. [csswizardry.com/code-smells-in-css-revisited/#extend](https://csswizardry.com/2017/02/code-smells-in-css-revisited/#extend)

[2017-07-12 14:57] csswizardry commented on #83
@Pro-Paul: Link colours inverted:

![image](https://user-images.githubusercontent.com/751944/28124173-d1171bfa-671a-11e7-9906-1375ef07d4a6.png)

See de6bf5a

[2017-07-12 16:07] cehwitham opened #85 "Internal "blue" header"
![screen shot 2017-07-12 at 17 19 09](https://user-images.githubusercontent.com/2518941/28128039-41b1cf76-6726-11e7-9d79-328c1a29b188.png)

[2017-07-12 16:07] cehwitham opened #86 "Search bar for header"
![screen shot 2017-07-12 at 17 18 27](https://user-images.githubusercontent.com/2518941/28128012-2dac096a-6726-11e7-880f-39fa95eea1db.png)

[2017-07-12 16:07] cehwitham opened #87 "Header button with icon"
![screen shot 2017-07-12 at 17 18 27](https://user-images.githubusercontent.com/2518941/28127992-23ea1426-6726-11e7-8579-7857f85dac7d.png)

[2017-07-12 16:07] cehwitham opened #88 "Breadcrumb banner"
![screen shot 2017-07-12 at 17 17 45](https://user-images.githubusercontent.com/2518941/28127948-0ab477a8-6726-11e7-8b4a-0a49989a3c2b.png)

[2017-07-12 16:07] cehwitham opened #89 "Data items, stat with explainer, progress bar"
![screen shot 2017-07-12 at 17 16 56](https://user-images.githubusercontent.com/2518941/28127905-ed4e329e-6725-11e7-9d7a-1a40beba87ba.png)

[2017-07-12 16:07] cehwitham opened #90 "Table styles"
![screen shot 2017-07-12 at 17 16 04](https://user-images.githubusercontent.com/2518941/28127860-cef7102c-6725-11e7-9a16-f85b5ce374d0.png)

[2017-07-12 16:07] cehwitham opened #91 "Image, overlay, logo overlay"
![screen shot 2017-07-12 at 17 15 13](https://user-images.githubusercontent.com/2518941/28127822-b0078ef8-6725-11e7-8aff-d92c0230c41a.png)

[2017-07-12 16:07] cehwitham opened #92 "Video style"
![screen shot 2017-07-12 at 17 14 47](https://user-images.githubusercontent.com/2518941/28127789-a0aa0ba2-6725-11e7-9add-562088271647.png)

[2017-07-12 16:07] cehwitham opened #93 "Card container, collapsed and with information"
![screen shot 2017-07-12 at 17 14 17](https://user-images.githubusercontent.com/2518941/28127754-8e992d8a-6725-11e7-9f3b-d5e2970c8ae1.png)

[2017-07-12 16:08] cehwitham opened #94 "Tab layout with icons"
![screen shot 2017-07-12 at 17 13 48](https://user-images.githubusercontent.com/2518941/28127734-7ccb3d46-6725-11e7-91a3-08d64f9c45e4.png)

[2017-07-12 16:08] cehwitham opened #95 "Comment forms"

[2017-07-12 16:08] cehwitham opened #96 "Comment listing"
![screen shot 2017-07-12 at 17 10 42](https://user-images.githubusercontent.com/2518941/28127606-105d910e-6725-11e7-8bb3-fbd386f172fd.png)

[2017-07-12 16:08] cehwitham opened #97 "Story panel"
![screen shot 2017-07-12 at 17 06 51](https://user-images.githubusercontent.com/2518941/28127557-e16c9818-6724-11e7-9236-6929bd9d66e0.png)

[2017-07-12 16:13] cehwitham commented on #95
![screen shot 2017-07-12 at 17 13 14](https://user-images.githubusercontent.com/2518941/28127720-6b03c93e-6725-11e7-92af-4a941a81f6b9.png)

[2017-07-13 11:16] cehwitham opened #98 "Font license issues"
I'm going to hazard a guess that we don't have a license to distribute the Frutiger font? @jdbrew can probably confirm.

Therefore, given we've open sourced this repo, can we come up with a way to remove the font files and include them in an install/build from a private repo please @csswizardry?

@ishanivardhan @Android63 this will possibly have knock on effects for the WP and Moodle themes too.

[2017-07-13 12:16] Android63 opened #99 "Screen reader class needed"
Class with name something like `screen-reader-text` is needed to hide text that is only for screen readers (such as "Skip to content" links)

[2017-07-13 21:30] csswizardry commented on #99
On its way in soon: f2b48cbdc5396022f43a8437a0b21c347a457e21 👍

[2017-07-14 09:37] csswizardry commented on #98
Had a quick chat with @chriscoffee about this. We were under the impression that the fonts were being authed because

1. the filenames appear to reflect an auth token;
2. @chriscoffee had to whitelist some domains.

On further reflection, though, we realised that this couldn’t possibly be functional/implemented because we’re not actually hitting a provider’s service to do any authentication.

I’d

[2017-07-14 11:50] csswizardry commented on #99
@Android63: This is now available in the latest release 👍

[2017-07-14 11:50] #99 closed, assigned to csswizardry

[2017-07-15 14:18] #83 closed, assigned to csswizardry, penpadstudio

[2017-07-17 13:32] csswizardry commented on #85
`.c-page-header--invert` 👍

[2017-07-17 13:32] #85 closed, assigned to csswizardry

[2017-07-17 14:34] jdbrew opened #102 "Colour variable re-write to allow generic NHS use"
re write `_settings.definitions.scss`and `_settings.colors.scss` to cover whole NHS colour palate and allow for the definition of organisational accent secondary colours from the palate.

[2017-07-18 08:31] chriscoffee opened #103 "Request: Hero Component"
Not sure this has been mentioned yet but think we need to create hero component.

- caption
- link
- modifiers: cover, fit

I don't mind sorting out some of it.

Not sure if priority @Pro-Paul can highlight this.

[2017-07-18 09:10] Android63 commented on #99
Thanks @csswizardry

[2017-07-18 10:35] #71 closed, assigned to csswizardry, penpadstudio

[2017-07-18 13:51] cehwitham opened #104 "Move scripts to external files?"
@csswizardry would it be possible to move the scripts from the bottom of index.html into separate files? It would probably help in including them in different implementations.

[2017-07-18 14:12] csswizardry commented on #104
Definitely. I reckon moving them into the component’s directory is probably the best bet; keep things well bundled.

[2017-07-18 14:14] csswizardry opened #105 "Consolidate settings’ and tools’ imports into one"
In order to enable something known as an Isolated component, it would be beneficial to be able to `@import` all of our settings and/or tools in one fell swoop (e.g. `@import @settings/all";`). This simple change will help with stuff I want to demo in the workshop as well 👍

[2017-07-18 14:20] Android63 opened #106 "Closing burger menu causes menu to disappear"
The burger menu that appears when the browser window is below a certain width can be clicked to toggle the mobile menu on and off. But if it's toggled off, that setting is retained when the browser width is enlarged, leaving the menu hidden.
![screen shot 2017-07-18 at 15 13 23](https://user-images.githubusercontent.com/1991226/28321816-257bcf00-6bcc-11e7-80cb-4cf1b69923c3.png)

[2017-07-18 14:27] Android63 opened #108 "First click of burger menu not working"
On a mobile screen (or small browser window), clicking the burger menu causes its icon to change to an "X" but the mobile menu doesn't get displayed until the button is clicked again - at which point the icon on the button is out of synch with the state of the menu.
![screen shot 2017-07-18 at 15 23 44](https://user-images.githubusercontent.com/1991226/28322258-8c3331a6-6bcd-11e7-97d2-944fa9b3e408

[2017-07-18 14:30] csswizardry commented on #108
Pinged @Heydon about this and #106 👍

[2017-07-18 14:42] csswizardry opened #109 "Hints (née Training-Wheels) Utility"
It’s possible to write some pretty automatic CSS that can be used to lint our HTML structure to ensure that we’re using things like grids properly. This means that—as we learn about how Nightingale works—we’ll get helpful hints in the browser if we inadvertently do things incorrectly.

Happy to work on a different name if people find this one patronising. Just wanted to come up with something quic

[2017-07-18 14:44] Android63 commented on #109
I like the name  - although something like "hints" might be more generally acceptable.

[2017-07-18 14:48] csswizardry commented on #109
As an example, if someone forgets to wrap an `.o-layout__item` element inside of its `.o-layout` parent, we can display an error like so:

![image](https://user-images.githubusercontent.com/751944/28323375-82265d34-6bd0-11e7-915a-fe8552005cfd.png)

The Sass inside of `training-wheels.scss`:

[code]

[2017-07-18 14:57] Android63 commented on #98
I'm sure @Pro-Paul won't like this suggestion, but what about using an open-source font that's close enough to do the trick?

[2017-07-18 15:01] cehwitham commented on #98
It's against brand guidelines @Android63. If we have to use a fallback, I think it has to be Arial.

[2017-07-18 15:01] Android63 commented on #81
I believe this is working fine now. I'm using npm to build css as needed.

[2017-07-18 15:03] Android63 commented on #78
I have this working and happy to explain/help as necessary.

[2017-07-18 15:09] #78 closed, assigned to csswizardry

[2017-07-18 15:51] Android63 opened #111 "Use aria-expanded without JS?"
Would it be possible/better to use aria-expanded, such as for hiding/revealing the mobile menu, with CSS only and no JS?

This example suggests it might be: https://stackoverflow.com/questions/39926555/i-want-to-use-aria-expanded-true-to-change-a-css-property

[2017-07-18 16:01] Android63 commented on #98
It's against brand guidelines to use an open-source font? Perhaps we should challenge the brand guidelines then!

Source: https://github.com/swiss/styleguide/issues/317

If found this one that's fairly close to Frutiger: https://fonts.google.com/specimen/Istok+Web

[2017-07-18 16:11] csswizardry commented on #98
It will have been re-hinted for the web, though. I feel like that’s a weak (it not moot) argument they’re making.

Surely there’s official word somewhere in the NHS about how we tackle this problem? We can’t be the first to have encountered it. Licensing Frutiger afresh for the kinds of traffic the NHS gets will cost _thousands_ a month!

[2017-07-19 09:11] chriscoffee commented on #108
Can we get in the habit of writing informative bug reports.

I'm going to guess you did the following to get to this point:
1. You opened (a version of) the index.html sample page in desktop viewport.
2. You then resized the window to a mobile viewport by dragging the window.
3. You then tried to click the burger menu.

You expected the burger menu to automatically open as you clicked it after rez

[2017-07-19 09:25] Heydon commented on #108
@chriscoffee @csswizardry
Good point about reorientation. I shall take a look. Harry, do you want to ping me when you've integrated with the new version of the framework?

[2017-07-19 13:04] Heydon commented on #108
@chriscoffee @csswizardry

Okay, I completely rewrote the script (https://github.com/csswizardry/nightingale/commit/6775ddad29f19c55d0b73e0e5f1d18011850a414). It now has

* Resize and reorientation support, including rearrangement of submenus in DOM
* Dynamic placement of refs using menu item indexes, so templates don't need to be amended

[2017-07-19 13:46] Android63 opened #112 "Cookie ribbon close button"
Should the closing the cookie ribbon when the close button is clicked be built into Nightingale? I'm thinking it could be js to hide the element.
![screen shot 2017-07-19 at 14 45 20](https://user-images.githubusercontent.com/1991226/28369950-f2271220-6c90-11e7-9153-9227d5ebe885.png)

[2017-07-19 14:59] Android63 opened #113 "Logo questions"
I've been looking at the logo. It currently has "NHS" as one image and "Leadership Academy" as another. Does this really make sense?

@Pro-Paul says it should be a single image, but that's not without problems. What if this framework is used by another organisation outside the LA?

And why is the "Leadership Academy" part an image at all? Why not use text? Then, it's more accessible and easier for

[2017-07-19 15:14] cehwitham commented on #113
@csswizardry any comments on why this implementation was chosen?

[2017-07-19 15:23] Android63 commented on #112
Also, once a particular user has closed it, I guess it should stay closed for them which, ironically, might need a cookie...

[2017-07-20 08:21] Android63 commented on #112
Also, If the purpose is to cover ourselves legally, shouldn't the close icon say something like "I Accept"?

[2017-07-20 14:11] penpadstudio commented on #113
Logo should be one image i.e. lozenge and text should be one image as the logo format can change dependant on organisation. plus for branding consistency so the spacing is always correct between the lozenge and appropriate text.

[2017-07-21 08:59] #109 closed, assigned to csswizardry

[2017-07-21 09:04] #105 closed, assigned to csswizardry

[2017-07-21 09:10] csswizardry commented on #111
Using this to style the nav’s open/closed states 😄

[2017-07-21 09:10] #111 closed, assigned to csswizardry

[2017-07-21 09:37] csswizardry commented on #112
I’ve added a simple bit of JS to make the ribbons dismissable (c41f9da), but the actual setting of cookies etc. falls out of Nightingale’s remit.

[2017-07-21 14:38] csswizardry opened #115 "IE8"
I have no idea why I started on this at 15:00 on a Friday, but here goes…

[2017-07-23 09:06] #112 closed, assigned to csswizardry

[2017-07-28 11:51] ishanivardhan opened #116 "Footer markup incomplete"
@csswizardry - As per @Pro-Paul 's design the mark-up for links with "pipe" separator and copyright info below the divider is missing in the Footer of Nightingale.

Please see the screenshot from Design here
<img width="1137" alt="screen shot 2017-07-28 at 12 18 59" src="https://user-images.githubusercontent.com/25176815/28715256-f820f682-738e-11e7-9cab-909c9bb14915.png">
I think the mark-up bit m

[2017-07-29 05:54] penpadstudio commented on #116
Padding and margin should be 10px each

[2017-08-01 11:45] ishanivardhan opened #117 "Moodle Header"
Since Moodle Header & mark-up is slightly different than our current Nightingale design, this issue is to track any separate design changes that needs doing to accommodate Moodle layout.

<img width="1277" alt="screen shot 2017-08-01 at 12 13 23" src="https://user-images.githubusercontent.com/25176815/28824079-69dfa7b0-76b8-11e7-8af6-5c3e80dcb3a4.png">

This is how Moodle header could look like ba

[2017-08-01 11:49] ishanivardhan commented on #117
@Pro-Paul - We need a mock-up of how "Notifications" sub-nav should look like in Nightingale structure. I had sent you screen-shots of what Moodle Notifications pop-up look like with or without Notifications. It would be great if you can attach what sub-nav should look like when clicked to fit-in those screen shots.

[2017-08-01 11:51] ishanivardhan commented on #117
@Pro-Paul - We may also need a mock up of what "Profile" sub-nav should look like in Nightingale structure.
Current Moodle User Profile dropdown look like the screenshot below when clicked.
<img width="217" alt="screen shot 2017-08-01 at 12 50 24" src="https://user-images.githubusercontent.com/25176815/28823990-07707dc0-76b8-11e7-90c0-13479f36ea0a.png">

Since we don't have the icons used in these

[2017-08-01 15:38] chriscoffee commented on #52
For the reference of other developers. This fixed this issue: https://github.com/NHSLeadership/nightingale/commit/bb201dca22536c882cd000d2d312f50ea240201f

[2017-08-03 13:46] penpadstudio commented on #117
@ishanivardhan I have uploaded some design files: https://share.goabstract.com/ae33f33d-dbf7-4c11-ad35-8b1bf1abc93d

[2017-08-03 13:58] ishanivardhan commented on #117
@Pro-Paul - This requires me to be granted access to NHSLA even though I'm logged onto Abstract? Would it be easier if you just let me know briefly as to what designs you have uploaded and what file names I need to look out for?

[2017-08-04 09:55] ishanivardhan commented on #117
@Pro-Paul - The latest designs attached is different from current Nightingale Header. I assume we need to get this built from @csswizardry first for me to incorporate in Moodle?

![screen shot 2017-08-04 at 10 53 43](https://user-images.githubusercontent.com/25176815/28964102-5c996b16-7903-11e7-91e8-ca5ac926302f.png)

[2017-08-04 14:58] cehwitham commented on #98
Had a chat with @jdbrew and the official brand guidelines state Arial as the fallback. Therefore, could we remove all the font files from this repo and set Nightingale up to use Arial as default for the open source resource. We'll then need a way to bring the Frutiger font into our downstream projects where we can control the licensing. We probably need to keep it out of the WordPress and Moodle t

[2017-08-09 09:40] chriscoffee opened #120 "Get CircleCI fixed"
Recent changes to the repositories hooks and notifications have caused deploy to stop working and in turn break what builds we had.

[2017-08-09 09:54] chriscoffee commented on #120
Initial problem corrected with Slack Webhooks. Still needs further work to include linting and deploying to S3 versioned rather than wiping out master continually.

[2017-08-09 10:14] chriscoffee commented on #120
This also highlights an issue in that CircleCI sees slack webhook as a dependency, either that or we've hardcoded it as one. This will need to be corrected.

**Slack is not a dependency.**

[2017-08-09 15:26] Android63 opened #121 "Menus not vertically aligning correctly when a single logo image is used in header"
As discussed, I am using a single logo image rather that one for the lozenge and one for the organisation name. So, my code has changed from this:

[code]

...to this:

[code]

With this styling to display the logo at 50% of its original size (for retina):

[code]

The result is a correctly-sized logo, but the menu bar ends up top-aligned rather than bottom-aligned as below:

![screen shot 2017-08

[2017-08-10 16:03] #91 closed, assigned to csswizardry

[2017-08-11 13:30] csswizardry opened #123 "When hints met `@extend`…"
@Android63 spotted an interesting issue that arises in certain scenarios in which we’re using out Hints module alongside out middleware:

![image](https://user-images.githubusercontent.com/751944/29215043-5ee8497a-7ea1-11e7-9a6e-9b93b7ae91fe.png)

The problem is that when we use `@extend` in our middleware layer, selectors imitating others can accidentally trigger Hint errors, giving false positiv

[2017-08-11 13:48] Android63 commented on #123
Could this be solved with the !important tag @csswizardry?

[2017-08-11 15:13] csswizardry commented on #113
The image only exists in the HTML, which is not part of the framework (which is CSS/Sass only).

Because, despite looking like only text, it is technically a logo. If we had it in text:

* it could render incorrectly (think Windows…);
* it could use an entirely different font;
* the text would get translated by Google Translate et al;
* Google Image searches would not yield the correct logo (this

[2017-08-14 09:26] #116 closed, assigned to csswizardry

[2017-08-14 09:26] #113 closed, assigned to csswizardry, cehwitham, penpadstudio

[2017-08-14 09:31] #39 closed

[2017-08-14 09:32] #88 closed, assigned to csswizardry

[2017-08-14 12:24] #121 closed, assigned to csswizardry

[2017-08-15 08:37] #90 closed, assigned to csswizardry

[2017-08-15 13:05] csswizardry opened #128 "Revisit Link Styles"
I’d like a tech debt task to take another look at how links are being implemented. Currently, I’m getting a lot of conflicts with `a:visited` styles overriding things like `.c-btn`, etc., plus there feels to be some confusion about conventions with blue unvisited vs. current states.

Also, maybe look at how external links are styled:

[code]

[2017-08-15 16:12] #98 closed, assigned to jdbrew

[2017-08-15 16:13] #81 closed, assigned to csswizardry, Android63, chriscoffee

[2017-08-15 16:13] #94 closed, assigned to csswizardry

[2017-08-15 16:16] csswizardry commented on #93
I think this can be marked as done as [the mechanism exists to show and hide content inside of these Media cards](https://github.com/NHSLeadership/nightingale/blob/d817da58683ff9e9723a76d2aee799d5bf3b1848/index.html#L316-L352). The `__reveal` sub-component can house any content we like (currently it’s a transcript, but it can easily be a progress bar, buttons, etc.), so I feel like this issue is s

[2017-08-15 16:16] #93 closed, assigned to csswizardry

[2017-08-15 16:32] csswizardry commented on #96
See commits referencing issue #95 👍

[2017-08-15 16:32] #96 closed, assigned to csswizardry

[2017-08-15 16:52] cehwitham opened #130 "Open source licence Nightingale"

[2017-08-17 08:56] #130 closed, assigned to cehwitham

[2017-08-17 09:00] cehwitham commented on #117
So I think Profile button is in v1.0.0. The notification highlight isn't necessarily a priority.

[2017-08-17 09:27] ishanivardhan commented on #117
@cehwitham - The designs have changed since then based on our discussion of not involving Notifications & Messages. Pls take a look at below:

![screen shot 2017-08-17 at 10 13 12](https://user-images.githubusercontent.com/25176815/29405055-bb608b94-8334-11e7-8aed-dc3b46464553.png)

This still needs some tweaks but the basic idea is there.

- Ignore the red dot; We dont need it any more.
- Student

[2017-08-17 09:58] cehwitham commented on #117
This seems like Moodle implementation, not styling?

@Pro-Paul's shout on where the log out button goes, not mine.

[2017-08-17 10:02] penpadstudio commented on #117
I want to point out that in order to compromise on capabilities I removed the previous profile dropdown options and replaced with the single profile button in mind that the user is directed to the profile page which would display all settings etc...including a logout action.

Anyway I have created the option to have a profile and logout button on the nav as requested due to capabilities.

![screen

[2017-08-17 10:04] penpadstudio commented on #117
I know this looks strange but we already set the primary to be blue and secondary to be white. Maybe we can switch in this context. needs a little more thought, unless we can switch the logout to the profile page?

[2017-08-17 10:05] penpadstudio commented on #117
Maybe we just scrap the whole blue banner, seems its quicker and easier route.

[2017-08-17 10:13] penpadstudio commented on #117
Thoughts?
![screen shot 2017-08-17 at 11 12 30](https://user-images.githubusercontent.com/23170050/29407656-ff428594-833c-11e7-84d1-04075c0e32d5.png)

[2017-08-17 10:14] ishanivardhan commented on #117
@Pro-Paul - That looks neat to me! And the buttons contrast well!

[2017-08-17 10:19] cehwitham commented on #117
@Pro-Paul what was the initial design decision for the blue banner? Seems we don't want to just throw it out because we have a question about a button? Adding a white on white button seems similar to adding a blue on blue button? Do we need to review having two buttons in the header instead of trying to sort out styles for them?

[2017-08-17 10:35] penpadstudio commented on #117
Well the initial reason was to create a separate UX from external platform to internal platform. I believe the white on white works better for now plus its built already. I am only suggesting revisiting the blue header in another release, my mind set is more on hitting this deadline now. @ishanivardhan recommends that sign out is on nav as signet being on profile page is not in Moodle capabilities

[2017-08-17 14:29] ishanivardhan commented on #117
@Pro-Paul , @cehwitham - Thoughts on final Header design so accordingly we can have @csswizardry build anything that isn't there already?

[2017-08-17 15:07] cehwitham commented on #117
Happy for @Pro-Paul to update the designs as he sees fit and communicate any requirements or changes to @csswizardry

[2017-08-17 15:14] penpadstudio commented on #117
I am taking the executive decision to leave the blue banner out of the design build for version 1 release. Please now revert back to white banner until further update on the issue.

[2017-08-18 09:09] Android63 opened #133 "Sitemap"

[2017-08-18 15:57] ishanivardhan commented on #117
Few components of header might need some work based on Moodle designs:

1. The c-btn--primary is purple, needs to be blue

2. Adding buttons in header makes it go a bit mis-aligned
![screen shot 2017-08-18 at 16 45 06](https://user-images.githubusercontent.com/25176815/29466516-072d1622-8435-11e7-9ab6-a912ed2ee786.png)

After reducing the padding for c-btn--primary & aligning the list item link fo

[2017-08-19 09:29] chriscoffee commented on #120
Closed with PR #132

[2017-08-19 09:29] #120 closed, assigned to chriscoffee

[2017-08-21 11:50] penpadstudio commented on #117
Agreed we should update the colour value to NHS Blue for v.1 release. Also should make sure to swap the font colour to NHS blue as well on secondary.

So in terms of alignment we need to organise it better for sure looking at @ishanivardhan screenshots.
Please see below:

![untitled_artwork](https://user-images.githubusercontent.com/23170050/29517884-088320a2-866f-11e7-9ce5-2da373612b6a.jpg)

The

[2017-08-21 15:27] ishanivardhan commented on #108
Any update on whether this is complete, tested? @csswizardry

[2017-08-21 16:41] cehwitham commented on #133
@Pro-Paul is there a particular design for this?

[2017-08-21 16:51] cehwitham commented on #103
@Pro-Paul do we have designs for this?

[2017-08-21 16:52] cehwitham commented on #102
@jdbrew was this completed?

[2017-08-21 16:54] cehwitham commented on #95
@csswizardry did #96 cover this completely or is there further work required?

[2017-08-21 17:06] ishanivardhan commented on #106
Steps to replicate this:

1. Either resize your browser window or change to Mobile viewport
2. Click on hamburger menu option; You should now see a cross icon image.
3. DO NOT click on Cross icon image; Instead resize your window back to normal/desktop size.

Actual O/P: The navigation/menu items disappear
Expected O/P: The navigation/menu items should go back to their normal shape & visibility

c

[2017-08-22 07:28] penpadstudio commented on #86
We also need a search bar as its own element for Moodle.

[2017-08-22 08:54] penpadstudio commented on #133
will just use hierarchy of headings and body copy and links. Example design layout is live in abstract: https://share.goabstract.com/e4d7c557-a67e-46e5-87b5-63666ee9e40d

[2017-08-22 13:36] penpadstudio opened #134 "Header Sub Navigation menu"
@csswizardry At the moment the Sub navigation menu on 1024 width is two column, this needs correcting to three column which transitions down to one column in mobile (375). I would also like to propose having another alternative layout that removes the description and CTA from the sub nav original.
Proposed:
![screen shot 2017-08-22 at 14 33 39](https://user-images.githubusercontent.com/23170050/29

[2017-08-22 15:13] cehwitham commented on #134
We already have all the styles we need available to build this.

[code]
This is the output of the above HTML.
<img width="1003" alt="screen shot 2017-08-22 at 16 10 59" src="https://user-images.githubusercontent.com/2518941/29572635-c9026bc2-8754-11e7-94ee-68e0bee28ecf.png">

[2017-08-22 15:14] #134 closed, assigned to cehwitham

[2017-08-22 15:23] penpadstudio commented on #134
@Android63 please see above for the sub nav columns. thx
also @ishanivardhan if needed.

[2017-08-22 15:36] cehwitham opened #135 "Sub menu blue highlight"
The first a element in a dropdown menu has a blue highlight box when the drop down menu is first opened. When you click inspect, the blue highlight disappears so it is hard to see which class is giving this. You can replicate this in inspector by setting `:focus` but I can't see a corresponding border style. It shows as a light blue line in Chrome and Safari and a black dotted line so I think it i

[2017-08-23 09:05] #95 closed, assigned to csswizardry

[2017-08-23 09:06] csswizardry commented on #95
@cehwitham: This is done; anything new would be a bug or a change.

[2017-08-23 09:12] csswizardry commented on #117
What does all this look like on smaller screens?

@Pro-Paul: As the design is completely fluid, we really need to stop thinking in terms of 632px, etc.

[2017-08-23 09:30] ishanivardhan commented on #117
@csswizardry - Do you need a Mobile view of what Moodle Header currently looks like?

[2017-08-23 09:41] penpadstudio commented on #117
@csswizardry Sorry the header above is for desktop tablet. then once the device screen is decreased past the width above then the menu system should default to the mobile menu icon to open up the menu:

### Lowest value:
![screen shot 2017-08-23 at 10 37 09](https://user-images.githubusercontent.com/23170050/29609404-056ceeee-87ef-11e7-9071-fa4da6705179.png)

### Middle value:
![screen shot 2017-0

[2017-08-23 14:15] csswizardry commented on #117
I meant when it’s open… what should the buttons do?

[2017-08-23 14:22] csswizardry opened #137 "Update buttons"
The button styles have changed. Tackling this will clear out a bunch of existing issues, too.

[2017-08-23 14:43] ishanivardhan commented on #117
@csswizardry - The buttons in above screen shot just act as links. They redirect you to a different page and aren't sub-navs in this case, if that helps!

[2017-08-23 15:23] csswizardry commented on #137
Are these looking okay, @Pro-Paul? If there’s anything minor (e.g. tweaking shadows, etc.) please can you pick this up? I don’t want really cosmetic stuff to end up becoming a blocker.

Cheers!

![image](https://user-images.githubusercontent.com/751944/29623740-a85f70da-8827-11e7-8a1f-c39f4a8fddba.png)

[2017-08-23 15:34] csswizardry commented on #117
@ishanivardhan: For the alignment issue, there’s a new button style coming in #137. The newly introduced `.c-btn--natural` class will make a button take up only as much space as it naturally needs. See 701274f for the code :)

[2017-08-23 15:36] #115 closed, assigned to csswizardry

[2017-08-23 16:23] csswizardry commented on #108
@ishanivardhan: Unfortunately, the branch that @Heydon was working in didn’t have any upstream changes merged into it. This means that I can’t `cherry-pick` his commit into our codebase without some pretty heavy-duty merge conflicts. I need to set some time aside to sort it out.

[2017-08-24 08:34] Android63 commented on #108
Maybe this is Git heresy, but, since this isn't in the main Nightingale repo anyway, couldn't we just add the new js file?

[2017-08-24 13:14] csswizardry commented on #108
@Android63: It’s in a fork of the repo, which is (for all intents and purposes) just like being in the repo. In a bind, we could have just done a copy/paste jobbie, but @chriscoffee has got our back! :D

[2017-08-25 09:24] chriscoffee opened #141 "addEventListener isn't supported in IE8."
We're using add event listener quite a lot for the JS that controls the main navigation. This isn't supported in IE8 so we'll need to switch to attachEvent or something.

[2017-08-25 09:26] chriscoffee opened #142 "innerWidth isn't supported in IE8"
We use innerWith to check if width is below 720 to serve the mobile menu. This isn't supported in IE8 and we'll need to use some logic to do document.documentElement.clientWidth || document.body.clientWidth or similar.

[2017-08-25 09:34] chriscoffee opened #143 "Placeholders not supported in IE8"
This is pretty standard but need to decide how and even if we're going to sort this. I'm against going down the jQuery root as I'm sure others are.

[2017-08-25 09:53] chriscoffee opened #144 "'classList' is null or not an object in IE8"
This isn't supported in IE8

[2017-08-25 10:29] chriscoffee opened #145 "Array.prototype.forEach() isn't supported in IE8"
As title these aren't supported

[2017-08-25 11:09] Android63 opened #146 "Fix nav alignment"
Menu items are not aligned with any buttons in the main menu.
![screen shot 2017-08-25 at 12 06 19](https://user-images.githubusercontent.com/1991226/29711671-ef839b32-898d-11e7-86ca-75fceeaade21.png)

[2017-08-25 12:40] csswizardry commented on #143
I don’t think we need to worry about supporting this in IE8. The effort involved in fixing it would be an order of magnitude greater than the benefits we’d reap.

Plus, as a general UX rule, all form fields should be clearly understood if `placeholder` text is absent (e.g. whilst you’re actually filling the field in).

[2017-08-26 16:54] chriscoffee commented on #143
That's fine. I'll now mark this as closed given Chris gave this the +1. It was more a question for Chris/Paul anyway.

[2017-08-26 16:54] #143 closed, assigned to cehwitham

[2017-08-26 17:00] chriscoffee commented on #146
Has this been taken from the examples of how to use the framework (index.html) or some work you are currently working on?

The framework has all the tools needed to align the menu list items with the button you've created or vice versa

However, if there is something stopping you from aligning said buttons that isn't currently in the framework then can you please write up this but report correctly

[2017-08-29 10:51] penpadstudio opened #147 "Moodle Forum pages"
We now have basic forum page layouts for Moodle. Please take a look at the designs: https://share.goabstract.com/a0def21d-951d-4b6e-af56-7a0d21fe6de7

[2017-09-04 10:41] Android63 opened #148 "Change font size for h5 and H6"
h5 and h6 should both be 14px

https://user-images.githubusercontent.com/23170050/29411427-aac0b4a4-834c-11e7-993d-3fc88f3d6c06.png

[2017-09-04 10:46] penpadstudio commented on #148
Updated design file as H6 indicting 19px was a typo...it is now reverted to 14px.
See abstract: https://share.goabstract.com/670d7b44-41b5-4a03-a218-739891393d05

[2017-09-04 10:59] penpadstudio commented on #148
Having looked at the develop branch H4,5,6 are all set to what appears to be 19px:
![screen shot 2017-09-04 at 11 57 01](https://user-images.githubusercontent.com/23170050/30023678-5cfc23a0-9168-11e7-81d8-ba291a7cf06b.png)
H5,6 need to be converted to 14px as per design file in abstract above.

[2017-09-04 11:11] cehwitham commented on #148
@Android63 looking at @Pro-Paul's file above, H4, H5 and H6 are all the same size?

[2017-09-04 12:32] Android63 commented on #148
Screenshot above is out of date. Here's the latest

https://share.goabstract.com/713deada-226f-44f5-b8f4-c035ef33f92a

[2017-09-04 12:58] ishanivardhan commented on #123
@csswizardry - One more example of this when I was working on breadcrumbs in Moodle. I had to use @extend (middleware) to apply Nightingale styles as markup is buried deep within core files.

`ol.breadcrumb>li:first-child a {`
  `@extend .c-breadcrumb__link;`
  `@extend .c-sprite;`
  `@extend .c-sprite--home;`
`}`

And with the above, I get hints error 'You probably need a Modifier on this element

[2017-09-04 13:21] csswizardry commented on #123
Set `$global-hints: false;` in  your project, just before you `@import` nightingale 👍

[2017-09-04 13:30] ishanivardhan commented on #123
Yes @csswizardry I was suggested that by @Android63 but I thought maybe keeping hints ON would point out any discrepancies or missing class/modifiers which is really helpful. But I have the global hints switched OFF for now! 👍

[2017-09-04 15:25] csswizardry commented on #148
Is this merged in now?

[2017-09-06 08:49] Android63 commented on #146
Harry addressed this in PR #151

[2017-09-06 08:49] #146 closed, assigned to csswizardry

[2017-09-06 14:55] #137 closed, assigned to csswizardry, penpadstudio

[2017-09-06 15:53] Android63 commented on #148
Yes

[2017-09-07 16:22] #148 closed, assigned to Android63

[2017-09-08 08:55] penpadstudio commented on #103
We have media elements that will act as heroes if needed.
![screen shot 2017-09-08 at 09 54 52](https://user-images.githubusercontent.com/23170050/30203976-cccfb96a-947b-11e7-88ad-ae3f899d2866.png)

[2017-09-08 09:15] penpadstudio opened #152 "Floating buttons"
Creation of floating buttons for quick scroll up and down pages:
![screen shot 2017-09-08 at 10 11 02](https://user-images.githubusercontent.com/23170050/30204642-0c815bac-947e-11e7-9b24-71434d84fa37.png)

@cehwitham suggestions on assignees?

[2017-09-08 09:19] penpadstudio commented on #87
@cehwitham This is an old design version of login button, we will not be putting an icon on the button any longer for v.1 release.

[2017-09-08 09:19] penpadstudio commented on #87
![screen shot 2017-09-08 at 10 19 19](https://user-images.githubusercontent.com/23170050/30204952-310056bc-947f-11e7-8a76-39f2e0b63438.png)

[2017-09-08 10:05] penpadstudio opened #153 "Forms: checkbox expansion form + Legal/subtle checkboxes"
<img width="656" alt="screen shot 2017-09-08 at 11 02 54" src="https://user-images.githubusercontent.com/23170050/30206855-5880024a-9485-11e7-9372-1f0efa761beb.png">

@cehwitham set priority please.

[2017-09-08 10:06] penpadstudio opened #154 "Forms: disabled checkboxes and radios"
<img width="219" alt="screen shot 2017-09-08 at 11 05 45" src="https://user-images.githubusercontent.com/23170050/30206960-c34cca68-9485-11e7-8e11-3393d5a0d0f4.png">
<img width="193" alt="screen shot 2017-09-08 at 11 05 58" src="https://user-images.githubusercontent.com/23170050/30206962-c47f601c-9485-11e7-84f7-442ae8f2f6fb.png">
@cehwitham set priority please

[2017-09-08 10:08] penpadstudio opened #155 "Forms: Date labels"
<img width="263" alt="screen shot 2017-09-08 at 11 07 20" src="https://user-images.githubusercontent.com/23170050/30207003-ee8bec90-9485-11e7-94a7-67148d6a3de7.png">
@cehwitham set priority please.

[2017-09-08 10:10] penpadstudio opened #156 "Forms: Drag n drop"
<img width="665" alt="screen shot 2017-09-08 at 11 09 19" src="https://user-images.githubusercontent.com/23170050/30207080-34a14f40-9486-11e7-889b-89aa47c4a059.png">
@cehwitham ste priority please.

[2017-09-08 10:13] penpadstudio opened #157 "Quotes"
<img width="663" alt="screen shot 2017-09-08 at 11 12 49" src="https://user-images.githubusercontent.com/23170050/30207216-a95b448a-9486-11e7-9589-975a6f7ec67b.png">
@cehwitham set priority please.

[2017-09-08 10:16] penpadstudio opened #158 "Bullets and numbers"
<img width="319" alt="screen shot 2017-09-08 at 11 15 20" src="https://user-images.githubusercontent.com/23170050/30207317-0a76a4bc-9487-11e7-8da7-366429362a43.png">
@cehwitham set priority please.

[2017-09-08 10:17] penpadstudio commented on #89
Image above looks like font is not bold like below
<img width="676" alt="screen shot 2017-09-08 at 11 17 24" src="https://user-images.githubusercontent.com/23170050/30207393-4dbbb46a-9487-11e7-96a4-d9c1bf11f960.png">

[2017-09-08 10:21] penpadstudio opened #159 "Audio file"
<img width="656" alt="screen shot 2017-09-08 at 11 20 39" src="https://user-images.githubusercontent.com/23170050/30207531-c5845560-9487-11e7-8660-cee38531aff2.png">
@cehwitham set priority please

[2017-09-08 10:22] penpadstudio opened #160 "Video with CC capabilities"
<img width="653" alt="screen shot 2017-09-08 at 11 21 45" src="https://user-images.githubusercontent.com/23170050/30207606-fd0e275e-9487-11e7-8118-3864ad29e3b4.png">

[2017-09-08 10:23] penpadstudio opened #161 "Panels"
<img width="332" alt="screen shot 2017-09-08 at 11 23 05" src="https://user-images.githubusercontent.com/23170050/30207657-1d6e6608-9488-11e7-970d-4944723b7390.png">
@cehwitham set priority please.

[2017-09-08 10:25] penpadstudio opened #162 "Pagination"
<img width="324" alt="screen shot 2017-09-08 at 11 24 44" src="https://user-images.githubusercontent.com/23170050/30207738-65d92f18-9488-11e7-9928-59fe73055371.png">

[2017-09-08 11:42] cehwitham commented on #152
Where should these sit on the page @Pro-Paul ? Do you have a design with them in situ?

[2017-09-08 11:54] penpadstudio commented on #152
They sit at the bottom of device screen and raised on z- axis:
![screen shot 2017-09-08 at 12 53 42](https://user-images.githubusercontent.com/23170050/30210511-d78485b6-9494-11e7-9e7e-7e7a8b196bfc.png)

[2017-09-08 12:03] cehwitham commented on #152
Is this only on mobile? What about scroll down?

[2017-09-08 12:48] cehwitham commented on #161
@Pro-Paul is this an improvement on or a replacement for #97 ?

Is it additional work on top of #119 ?

[2017-09-08 12:52] #92 closed, assigned to nobody

[2017-09-08 12:52] cehwitham commented on #92
Dupliate of #160 and out of date with designs.

[2017-09-08 12:54] cehwitham commented on #160
I think we need to look at what the video player implementation will be before we build the styles. Once we've worked out what technology we're using, we'll know better what the options are for styling it.

[2017-09-08 14:52] jdbrew commented on #117
Is this issue closed becuase of #137 @cehwitham @csswizardry ?

[2017-09-08 15:27] ishanivardhan commented on #117
No @jdbrew , this issue is still very much open. The issue above is from my repository moodle-theme_nigthingale where the Header is partially complete & done.

[2017-09-11 08:44] csswizardry commented on #158
Coming all the way live, from Belarus:

![image](https://user-images.githubusercontent.com/751944/30265987-90309cf0-96e6-11e7-8289-c914948bac31.png)

[2017-09-12 09:29] penpadstudio commented on #161
These are panels (cards) completely different to media items that can be placed inside of panels.

[2017-09-12 09:31] cehwitham commented on #161
@Pro-Paul #97 and #119 both talk about Panels not media though?

[2017-09-12 09:32] cehwitham commented on #108
@Android63 @csswizardry is this resolved now that @chriscoffee has merged in the changes from the other repo?

[2017-09-12 09:34] penpadstudio commented on #161
mix of language, A media component is the e.g. a slider, image, video. A Panel is a module of of e.g. slider, image, video with buttons, bounding box etc

[2017-09-12 09:36] penpadstudio commented on #161
Take a look at the wiki, I am building the design hierarchy of modules etc. so its easier to understand

[2017-09-12 09:37] #103 closed, assigned to penpadstudio

[2017-09-12 09:38] cehwitham commented on #153
@Pro-Paul do you have a situation where we would use this?

[2017-09-12 09:44] cehwitham commented on #133
@Android63 can you close this if you're happy with it please?

[2017-09-12 10:00] jdbrew commented on #102
I submitted `_settings.definitions.scss` to https://github.com/NHSLeadership/nightingale/commit/d7a2550d678d82a276ec3b8afcb06ed95a314ea5

[2017-09-12 10:01] cehwitham commented on #161
@Pro-Paul so for the most part this should just be putting everything together rather than building lots of new stuff?

[2017-09-12 10:32] Android63 commented on #108
Yes

[2017-09-12 10:32] #133 closed, assigned to Android63

[2017-09-12 10:55] Android63 commented on #160
I think something like [Easy Video Player](https://en-gb.wordpress.org/plugins/easy-video-player/) might be the way to go for WordPress

[2017-09-12 11:06] cehwitham commented on #160
The corporate website is interesting as most stuff on there is embedded from YouTube or other external sources like Vimeo.

A solution for Moodle is currently in place. @jdbrew has done a lot of work on what players to use previously as the IE8 and access requirements are quite specific.

Let's not worry about this for 1.0.0 but ensure that YouTube and Vimeo embeds are displayed well.

[2017-09-12 11:12] #108 closed, assigned to csswizardry

[2017-09-12 11:21] Android63 commented on #160
OK. YouTube and Vimeo embeds work fine in WordPress, without the need for a plugin.

[2017-09-12 11:32] Android63 commented on #104
Maybe the js folder would be more appropriate @csswizardry

[2017-09-12 11:33] cehwitham commented on #102
@csswizardry I believe this is ready for you to implement the accent colours as discussed with @jdbrew

[2017-09-13 10:51] Android63 opened #166 "Use LocalStorage to control whether or not to show cookie ribbon"
I've implemented this in my WordPress theme, but suggest the ability to keep the cookie ribbon closed is a universal requirement and should be part of the framework to avoid duplicating code.

[2017-09-15 10:38] #158 closed, assigned to csswizardry

[2017-09-15 10:40] penpadstudio commented on #161
If I understand you correctly then yes.

[2017-09-15 10:48] penpadstudio commented on #152
Not just on mobile, desktop as well i.e. scroll down buttons will be used to indicate to users when not un-abundantly clear more content below the fold of the page.

[2017-09-15 11:37] cehwitham commented on #152
Do you have an image of how this will look @Pro-Paul ?

[2017-09-19 11:52] penpadstudio opened #167 "Modal Panels"
<img width="665" alt="screen shot 2017-09-19 at 12 51 15" src="https://user-images.githubusercontent.com/23170050/30591058-431f7644-9d39-11e7-9e43-d69ed974299f.png">

Creation of modal panel outline boxes for alerts.

[2017-09-19 11:56] penpadstudio commented on #167
Modals will have the effect of a 50% black transparency beneath the pop up and above the page content.

[2017-09-19 13:04] Android63 opened #168 ""Previous" and "Next" text hidden in pagination"
When there are no page numbers, should display "previous" and "next' adjacent to arrows. Screenshot below is from index.html and shows no such text:

![screen shot 2017-09-19 at 14 02 13](https://user-images.githubusercontent.com/1991226/30593689-6603239a-9d43-11e7-874c-04645a675bed.png)

[2017-09-19 15:44] ishanivardhan opened #169 "Search Input with button"
As per @Pro-Paul 's designs for "Forum Search in Moodle", I think we would need Search input with magnifying glass button inside it made in Nightingale

![screen shot 2017-09-19 at 16 31 07](https://user-images.githubusercontent.com/25176815/30600781-4603479a-9d58-11e7-9b6b-371b49df7e25.png)

Tried quick fix by putting the magnifying glass sprite image on input text box for now but doesn't have th

[2017-09-21 15:39] penpadstudio opened #170 "Ribbons"
Ribbons seem to have a hight more than 40px that is taking up valuable page space (noticed whilst working on Moodle theme):
<img width="1027" alt="screen shot 2017-09-21 at 16 39 09" src="https://user-images.githubusercontent.com/23170050/30704714-6b30438a-9eeb-11e7-8513-95547c55568e.png">

[2017-09-25 16:11] ishanivardhan opened #171 "Moodle File picker"
As per our discussions earlier, Moodle forms have an Attachment area & relevant file picker that looks like below:

![screen shot 2017-09-25 at 17 09 52](https://user-images.githubusercontent.com/25176815/30818788-75147372-a214-11e7-96dc-a5c888a1f97a.png)

![screen shot 2017-09-25 at 17 10 09](https://user-images.githubusercontent.com/25176815/30818787-7511a19c-a214-11e7-9a09-87c04afc3a4e.png)

Fo

[2017-09-26 18:13] csswizardry commented on #170
It’s vital to remember that the web doesn’t really work in heights; font rendering, pixel-rounding, and (allowing the) natural flow of content means that heights are much harder to stick to than widths. It’s important that we don’t try to aim for specific pixel values.

Is the issue here that the padding is too great, or…?

Small things like this, it would be beneficial if others could dive in and

[2017-09-27 09:39] cehwitham commented on #170
No need for you to fix this @csswizardry.

We've looked into it in the office and a more specific report is:

Padding top and botton on the .c-ribbon class is currently set to 15px. This should be 10px reducing the overall banner height to 46px rather than the current 56px.

Someone in our team will pick this up and push a fix.

[2017-09-27 09:46] #147 closed, assigned to nobody

[2017-10-02 13:34] ishanivardhan opened #173 "Space between sub-nav and bottom of header"
As you click on Sub-Nav, there is some amount of white space before the blue-purple ribbon that shouldn't be as per the designs

ACTUAL:
![screen shot 2017-10-02 at 14 30 03](https://user-images.githubusercontent.com/25176815/31079742-920f42e4-a77e-11e7-82ad-f867bd03b7a1.png)

EXPECTED DESIGN
![screen shot 2017-10-02 at 14 31 29](https://user-images.githubusercontent.com/25176815/31079696-64653f4c

[2017-10-04 10:33] #170 closed, assigned to cehwitham

[2017-10-11 16:09] ishanivardhan opened #174 "Additional markup needed to accomplish Styling?"
Hi @csswizardry ,

This is more of a question than an issue which you'd be the best person to answer.

Few of the styling pieces in Nightingale are dependent on additional HTML mark-up and it's a bit of a puzzler to accomplish the same styling in a framework such as Moodle where the markup cant be easily changed (or added) as they sit in core files (not customisable).

I’ll explain that with an ex

[2017-10-17 08:43] Android63 commented on #174
I think this is an important point. Whilst I have select elements working in Gravity Forms, for example (because I've written filters to change the markup), this doesn't cover the eventuality of someone using a different forms plugin with different markup. If the select element was targeted directly, without adding any extra markup, then *all* select elements would be styled correctly without the

[2017-10-19 13:45] Android63 commented on #174
This is an interesting article on styling <select> elements without needing additional wrapper markup: [http://blog.room34.com/archives/5465](http://blog.room34.com/archives/5465)

Also this: [https://jsbin.com/diqene/edit?html,css,output](https://jsbin.com/diqene/edit?html,css,output)

[2017-11-07 17:20] ishanivardhan opened #175 "Link sample with new-window-rev icon"
After reviewing Moodle theme development, it was found that we need a sample for what the link would look like with new-window-rev icon and the optimum spacing between the two.

@cehwitham - Could you please assign this to the right person with priority?
cc: @Pro-Paul , @csswizardry

PS: Apologies, if this is already done & would be great if pointed towards the code to view this!

[2017-12-06 15:28] Android63 opened #176 "Use white icon for target="_blank" links on dark background"
At the moment, links on ribbons don't show up due to their dark colour on a dark background. We need to make sure there's always adequate contrast so the icon can be clearly seen.

This screenshot demonstrates the problem:
![screen shot 2017-12-06 at 15 24 09](https://user-images.githubusercontent.com/1991226/33669326-0f064948-da9a-11e7-8228-2f1593c27d22.png)

[2017-12-06 15:55] Android63 commented on #176
_elements.links.scss contains the following code that adds the icon to the link:
[code]
We need it to vary the sprite area chosen based on the colour of the link.

@cehwitham

[2017-12-06 16:17] Android63 commented on #176
Maybe use difference blend mode...?

[2017-12-06 19:39] cehwitham commented on #176
Blend mode doesn't have our required browser support.

@Android63 please can you link to the WP theme issue that this relates to?

Might also help to include the HTML as it's not in the demo page for Nightingale.

[2017-12-07 09:43] Android63 commented on #176
The original ribbons issue is closed, it's at https://github.com/NHSLeadership/nightingale-wp/issues/5. New issue is at https://github.com/NHSLeadership/nightingale-wp/issues/86

[2017-12-07 09:44] Android63 commented on #176
This HTML creates a cookie ribbon:
[code]

[2017-12-07 16:21] Android63 commented on #157
@csswizardry @cehwitham Can this be merged in now?

[2017-12-08 11:02] Android63 opened #178 "Use correct logo size in header"
At the moment, the logo used in the sample page is 204 by 62 pixels, which is smaller than it should be:
![screen shot 2017-12-08 at 10 58 53](https://user-images.githubusercontent.com/1991226/33763043-d2b1cddc-dc06-11e7-9683-c0d850f0b422.png)
We should replace this with one that is 245 by 72.

[2017-12-11 16:28] Android63 commented on #86
@csswizardry please review this code to make sure it's BEM and ITCSS compatible.

[2017-12-12 10:01] Android63 commented on #86
In particular @csswizardry, I created a class called `c-search__input` which is an extension of `c-form-input` (using @extend), but that parent-child relationship isn't reflected in its name. Perhaps it should be named something like `c-form__input-c-search-input`, but that seems very clumsy and long-winded.

Also, in order to position the button (with magnifier icon) inside the input box, I set i

[2017-12-12 15:26] cehwitham commented on #178
@Android63 what are we using to judge this as "wrong"?

[2017-12-12 17:03] Android63 opened #181 "Path to down arrow icon for parent menus"
Parent menus should be accompanied by a down-arrow as shown below:

![screen shot 2017-12-12 at 16 59 29](https://user-images.githubusercontent.com/1991226/33897666-fea1fb7e-df5d-11e7-801b-bf473b420cd3.png)

But `.c-nav-primary__link[aria-expanded="false"]:after` uses a url of `/assets/img/sprite/icons.png`, which doesn't work from a theme such as nightingale-wp.

[2017-12-13 10:25] Android63 commented on #178
https://app.goabstract.com/projects/fdbbd970-72f5-11e7-833e-970465c5fe77/branches/master/commits/a66e7f1633ba0b26423bd648660382738e321567/files/23927D9B-BCE6-47EC-90DA-D555C3292627/layers/25EAD662-3F77-4EF6-BA49-4152CAB7F75A

[2018-01-22 15:19] #86 closed, assigned to csswizardry, Android63

[2018-01-22 15:46] Android63 commented on #169
@ishanivardhan I think we may be able to close this one as I've implemented the search bar in issue https://github.com/NHSLeadership/nightingale/issues/86

[2018-01-22 15:55] Android63 commented on #166
I think we can close this as it was addressed in https://github.com/NHSLeadership/nightingale/pull/165. Do you concur @cehwitham?

[2018-01-22 16:00] Android63 opened #182 "Extra pixel below search button in Safari"
As shown on the screenshot below, a 1px bottom margin appears below the search button:

![screen shot 2018-01-22 at 15 57 11](https://user-images.githubusercontent.com/1991226/35230067-f498cdd4-ff8c-11e7-8745-1acde2d26b2a.png)

This is not a problem in Firefox, Chrome and Opera, as shown below:

![screen shot 2018-01-22 at 15 59 28](https://user-images.githubusercontent.com/1991226/35230180-4128b6

[2018-01-23 12:17] Android63 opened #183 "Spacing between search bar and menu"
As show in the screenshot below, there is no vertical space between the search bar and the menu:

![screen shot 2018-01-23 at 12 13 55](https://user-images.githubusercontent.com/1991226/35275273-1f2d9d7c-0037-11e8-9199-2ea63be829d6.png)

What do you suggest @Pro-Paul?

[2018-01-24 14:41] Android63 opened #184 "Header layout"
Lay out the header as defined by @Pro-Paul and described here https://github.com/NHSLeadership/nightingale-wp/issues/95

[2018-01-30 11:04] #157 closed, assigned to csswizardry

[2018-01-30 12:56] Android63 opened #187 "Allow for nonexistent cookie ribbon"
Nightingale-WP (and possibly other themes based on Nightingale) has the ability to enable and disable the cookie ribbon. When it's disabled, a JavaScript error occurs in cookies.js because the element 'jsCookieRibbon' cannot be found, as shown below:

![screen shot 2018-01-30 at 12 52 58](https://user-images.githubusercontent.com/1991226/35567319-8da0b0a2-05bc-11e8-8309-3c5cb596e078.png)

[2018-01-31 12:17] Android63 opened #189 "Blog post listing page"
Styling for listing multiple blog posts/articles on a page as shown below (but with horizontal rules between articles):
![screen shot 2018-01-31 at 12 14 29](https://user-images.githubusercontent.com/1991226/35622634-70cdfa88-0680-11e8-96dd-d52c0136a54c.png)

[2018-02-05 12:49] Android63 commented on #189
@csswizardry could you review this please?  I've added an "articles" component and, although we've merged it in, would appreciate you looking it over just to be sure.

[2018-02-19 11:35] csswizardry opened #191 "Tidy JS"
Really quick changes to how we load different types of JS.

[2018-02-20 09:28] csswizardry commented on #181
Do we know why it doesn’t work?

[2018-02-20 16:20] csswizardry opened #193 "Browser-support messaging for OldIE and non-JS"
Can we look at adding banners for OldIE users (prompting them to upgrade), and a `noscript` message for users who’ve disabled JS (warning them about missing functionality)?

[2018-03-16 16:18] Android63 opened #194 "Mixins may not be defined within control directives or other mixins"
`npm run build` results in the error message "Mixins may not be defined within control directives or other mixins".

This can be fixed by commenting out the hints file in main.scss, but a proper solution is needed.

[2018-03-22 16:11] penpadstudio opened #198 "Heading Size"
Check Heading sizes are compliant with Design file.

[2018-03-23 12:32] Android63 commented on #189
I'm closing this since it's already merged in and I went over it with Harry when he was here in February.

[2018-03-23 12:32] #189 closed, assigned to csswizardry

[2018-04-04 14:18] penpadstudio opened #199 "Information card"
We are still missing an information card layout module from the Nightingale repo:
<img width="267" alt="screen shot 2018-04-04 at 15 17 07" src="https://user-images.githubusercontent.com/23170050/38313132-599f6bc2-381b-11e8-9b2b-98ea6e5b1016.png">

[2018-04-04 14:22] penpadstudio opened #200 "Alert Cards"
We need to build alert card modules into the repo:
<img width="392" alt="screen shot 2018-04-04 at 15 19 54" src="https://user-images.githubusercontent.com/23170050/38313446-f6bb7a68-381b-11e8-87cb-78763de25278.png">

[2018-04-04 14:24] penpadstudio opened #201 "Leading paragraphs"
Need to add in leading paragraphs to Nightingale repo:
<img width="406" alt="screen shot 2018-04-04 at 15 23 36" src="https://user-images.githubusercontent.com/23170050/38313520-286283a4-381c-11e8-9f68-dd2dc2438cf7.png">

[2018-04-04 14:32] Android63 opened #202 "Homepage links"
Markup only since styling is already in place for the various elements.

<img width="994" alt="screen shot 2018-04-04 at 15 31 33" src="https://user-images.githubusercontent.com/1991226/38314041-4fe7620e-381d-11e8-8404-ddccb1dd4405.png">

[2018-04-05 12:26] penpadstudio opened #208 "Copy Line heights"
Correct the Line heights of the nightingale repo to reflect the design file and wiki documentation.

[2018-04-05 13:26] penpadstudio commented on #208
Default body copy is the style that should be used in all instances when not accentuating the copy content. Style should be set as Frutiger 55 Roman 18px #231F20 (line height 26px)

[2018-04-05 13:26] penpadstudio commented on #208
Leading body copy is the style that should only be used when accentuating the leading paragraph to default copy content, and can only be used once at the beginning of and per article. Style should be set as Frutiger 55 Roman 24px #231F20 (line height 32px)

[2018-04-05 13:29] penpadstudio commented on #208
Quote body copy is the style that should only be used when accentuating a quote statement. Style should be set as Frutiger 56 Italic 24px #425563 (line height 32px)

[2018-04-05 13:29] penpadstudio commented on #208
Author sign off body copy is the style that should only be used when indicating an author to the quote copy. Style should be set as Frutiger 65 Bold 14px #231F20 (line height 20px) and right aligned. (Same style as H6 but right aligned)

[2018-04-05 13:29] penpadstudio commented on #208
Role/Org sign off body copy is the style that should only be used when indicating either an author role or author’s organisation or both to the author sign off copy. Style should be set as Frutiger 55 Roman 14px #231F20 (line height 20px) and right aligned. (Same style as Supporting paragraph but right aligned)

[2018-04-05 13:29] penpadstudio commented on #208
Supporting body copy is the style that should only be used in certain instances such as when copy need not distract or draw away attention from default body copy. Style should be set as Frutiger 55 Roman 14px #231F20 (line height 20px)

[2018-04-05 13:31] penpadstudio commented on #208
For further reference: https://github.com/NHSLeadership/nightingale/wiki/(e)Body

[2018-04-05 13:34] penpadstudio opened #209 "Heading Line Heights"
Correct the Line heights of the nightingale repo to reflect the design file and wiki documentation.

[2018-04-05 13:35] penpadstudio commented on #209
Heading 1 copy is the style that should be used to define a high priority title. As an example it can be used to highlight important data information. Style should be set as Frutiger 65 Bold 48px #231F20 (line height 58px)

[2018-04-05 13:35] penpadstudio commented on #209
Heading 2 copy is the style that should be used to define a lesser priority title than h1. As an example it can be used for article titles. Style should be set as Frutiger 65 Bold 36px #231F20 (line height 44px)

[2018-04-05 13:35] penpadstudio commented on #209
Heading 3 copy is the style that should be used to define a lesser priority title than h2. As an example it can be used as sub article titles. Style should be set as Frutiger 65 Bold 24px #231F20 (line height 29px)

[2018-04-05 13:35] penpadstudio commented on #209
Heading 4 copy is the style that should be used to define a lesser priority title than h3. As an example it is used on form field titles. Style should be set as Frutiger 65 Bold 18px #231F20 (line height 22px)

[2018-04-05 13:35] penpadstudio commented on #209
Heading 5 copy is the style that should be used to define a lesser priority title than h4. As an example it is used for navigation menus. Style should be set as Frutiger 65 Bold 16px #231F20 (line height 19px)

[2018-04-05 13:35] penpadstudio commented on #209
Heading 6 copy is the style that should be used to define a lesser priority title than h5. As an example it can be used on card titles. Style should be set as Frutiger 65 Bold 14px #231F20 (line height 17px)

[2018-04-05 13:35] penpadstudio commented on #209
for further reference: https://github.com/NHSLeadership/nightingale/wiki/(e)Headings

[2018-04-10 10:39] Android63 commented on #202
@Pro-Paul what if a link title wraps over two or more lines?

![screen shot 2018-04-10 at 11 37 53](https://user-images.githubusercontent.com/1991226/38552355-cbd478c6-3cb3-11e8-9314-51e4d1d8ff8c.png)

[2018-04-10 11:23] penpadstudio commented on #202
As this is the homepage we can have artist licence. You can even have LLA's as the heading and explain the LLA in the descriptive text below.

[2018-04-10 12:43] Android63 commented on #202
OK but what if a link title wraps over two or more lines?

[2018-04-10 13:00] penpadstudio commented on #202
The line height will address this spacing issue.

[2018-04-11 08:57] penpadstudio opened #212 "Info icon on cookie ribbon"
Missing the info icon on the cookie ribbon.

[2018-04-11 09:01] penpadstudio opened #213 "Partnership ribbon expand arrow"
Partnership ribbon expand arrow needs updating to sprit library arrow for consistency.

Change from:
![screen shot 2018-04-11 at 10 00 04](https://user-images.githubusercontent.com/23170050/38606905-3f2fb2fc-3d6f-11e8-895e-016d8f917804.png)
To:
<img width="473" alt="screen shot 2018-04-11 at 10 00 41" src="https://user-images.githubusercontent.com/23170050/38606900-3af29524-3d6f-11e8-9beb-01056e98

[2018-04-11 09:05] penpadstudio opened #214 "Add Dividers to spin up"
Can we add the dividers to spin up for visual purpose and to make sure they are defined to take over to other platforms.
<img width="513" alt="screen shot 2018-04-11 at 10 04 35" src="https://user-images.githubusercontent.com/23170050/38607130-c365b06c-3d6f-11e8-8bee-5ccd3b6134c7.png">

[2018-04-11 09:06] penpadstudio opened #215 "Add Social Media Icons to footer"
Add the social media icons to the footer:
<img width="502" alt="screen shot 2018-04-11 at 10 06 43" src="https://user-images.githubusercontent.com/23170050/38607265-0e5b95fa-3d70-11e8-9ad3-fc6a20b6e02f.png">

[2018-04-11 09:10] penpadstudio opened #216 "Tabs"
May need to look into how the padding acts on tab copy to be able to get the best use of space and consistent styling of widths

[2018-04-11 09:13] penpadstudio opened #217 "Media (motion)"
Create a media motion box without transcript card.

[2018-04-11 09:16] penpadstudio opened #218 "Table"
Need to create following table format for programmes cohort tab page:
<img width="672" alt="screen shot 2018-04-11 at 10 15 28" src="https://user-images.githubusercontent.com/23170050/38607719-547c79cc-3d71-11e8-8d34-ba77f6d036c5.png">

[2018-04-11 09:20] penpadstudio opened #219 "Pagination"
Need to add copy links for next and previous as well as page count. see below:
<img width="652" alt="screen shot 2018-04-11 at 10 19 11" src="https://user-images.githubusercontent.com/23170050/38607941-e7f3638c-3d71-11e8-8215-d1790eda82cf.png">

[2018-04-11 09:23] penpadstudio opened #220 "Build Search results snippet"
so it look something like this using elements already built:
<img width="672" alt="screen shot 2018-04-11 at 10 22 52" src="https://user-images.githubusercontent.com/23170050/38608097-5bd002ce-3d72-11e8-9e8a-d0d6e0455d8b.png">

[2018-04-11 13:02] #209 closed, assigned to Android63, cehwitham, penpadstudio

[2018-04-11 13:04] #198 closed, assigned to penpadstudio

[2018-04-11 13:37] #201 closed, assigned to Android63, cehwitham

[2018-04-11 13:59] cehwitham commented on #218
@Pro-Paul is this different to plain table styles?

[2018-04-11 14:00] cehwitham commented on #217
Can you provide a screenshot or some more details please @Pro-Paul ?

[2018-04-11 14:01] cehwitham commented on #215
Hi Paul, please can you provide the image files for the icons?

[2018-04-11 14:03] cehwitham commented on #214
What are we referring to as 'Spin Up' @Pro-Paul ?

Are these different styles for <hr> elements?

[2018-04-11 14:04] cehwitham commented on #213
@Pro-Paul is this an update to the sprite to change all arrows or a change to the HTML to use a different arrow?

[2018-04-11 14:05] cehwitham commented on #212
@Pro-Paul please can you provide a reference image?

[2018-04-11 14:13] #208 closed, assigned to Android63, cehwitham, penpadstudio

[2018-04-11 14:49] penpadstudio commented on #218
only slight changes... you can see what we have built here and the differences:
![screen shot 2018-04-11 at 15 48 51](https://user-images.githubusercontent.com/23170050/38624389-ddd4c976-3d9f-11e8-9a12-1944f729c67e.png)

[2018-04-11 14:51] penpadstudio commented on #217
This is what we have built:

![screen shot 2018-04-11 at 15 50 04](https://user-images.githubusercontent.com/23170050/38624465-0ab32eb0-3da0-11e8-8373-d30f76518881.png)

This is what I mean by no transcript box:

<img width="458" alt="screen shot 2018-04-11 at 15 51 02" src="https://user-images.githubusercontent.com/23170050/38624516-26695148-3da0-11e8-9bb5-8cce2124c684.png">

[2018-04-11 14:52] penpadstudio commented on #215
Logos are already built on sprites on repo, just need placement in footer:

![screen shot 2018-04-11 at 15 52 08](https://user-images.githubusercontent.com/23170050/38624599-5d8d3b30-3da0-11e8-9192-d001e5c56f62.png)

[2018-04-11 14:57] penpadstudio commented on #214
'Spin up' as in the visual representation example of the code (running NPM to see the index file)

the dividers are all elements.

[2018-04-11 14:58] penpadstudio commented on #213
the arrow needs to be swapped to what is in the sprite section already...ie
![screen shot 2018-04-11 at 15 58 12](https://user-images.githubusercontent.com/23170050/38624904-28994daa-3da1-11e8-82b3-a959c15347a0.png)

[2018-04-11 15:14] penpadstudio commented on #212
<img width="315" alt="screen shot 2018-04-11 at 16 14 32" src="https://user-images.githubusercontent.com/23170050/38625943-758edbc8-3da3-11e8-8d20-50189e15010d.png">

[2018-04-11 15:26] penpadstudio opened #222 "Remove Live ribbon"
Did not remove Live prototype ribbon correctly from the code, need to check and try again:

![screen shot 2018-04-11 at 16 25 06](https://user-images.githubusercontent.com/23170050/38626698-0a8321b6-3da5-11e8-9c50-6c9e971cb773.png)

[2018-04-11 15:28] cehwitham commented on #222
@Pro-Paul did you not test before making a PR?

[2018-04-11 15:29] cehwitham commented on #214
Apologies, I wasn't aware that's what we called it.

[2018-04-12 10:03] cehwitham commented on #218
@Pro-Paul thanks. Are these modifier styles for the tables or an override for the default style?

[2018-04-12 10:06] cehwitham commented on #217
So is this achieved by just not including the transcript box markup or is the style of the video component is different when there's no transcript box? It looks from this screenshot as if there's a drop shadow on it?

[2018-04-12 10:29] penpadstudio commented on #218
@cehwitham I think they should be modifier styles but I will leave it up to you and how best to build it. Not sure which would be more beneficial in the long run.

[2018-04-12 10:31] penpadstudio commented on #217
Yes, so basically all that is needed is to remove the transcript box from the markup for this component.
Ignore the drop shadow as this only shows because I screenshot from sketch design file.

[2018-04-12 10:43] penpadstudio opened #223 "Typography definitions"
So, would like to set the typography sizes and line heights in the css closer to the design definitions which can be found on the wiki: https://github.com/NHSLeadership/nightingale/wiki/%28e%29Headings
https://github.com/NHSLeadership/nightingale/wiki/%28e%29Body
Mixin help needed to define.

[2018-04-12 13:39] cehwitham commented on #220
@Pro-Paul can we build this out of existing elements or does it specifically need to be its own component? Looks fairly similar to the post listing component we've already used?

[2018-04-12 13:41] cehwitham commented on #217
So I think we can either close this issue as there's no new development to be done, or add an example to the demo page. What do you think @Pro-Paul ?

[2018-04-12 13:48] cehwitham commented on #218
So we want to keep the original default styling for tables but have this as an option?

[2018-04-12 13:50] cehwitham commented on #218
@Pro-Paul Is the front of the table data a dark grey?

What are the font-sizes?

Is the last column always right aligned or optional right alignment for last / any column?

[2018-04-13 08:21] penpadstudio commented on #220
@cehwitham use existing elements, it does not need to be its own component unless we build one.

[2018-04-13 08:36] cehwitham commented on #220
@Android63 does this have an impact on the LDP Hub search results?

[2018-04-16 12:02] Android63 commented on #220
I just need to change the "read more" link @cehwitham. This is how it looks in LDP Hub at the moment:
<img width="1022" alt="screen shot 2018-04-16 at 13 00 41" src="https://user-images.githubusercontent.com/1991226/38807975-5e47c390-4176-11e8-8a05-ec080f53ede9.png">

[2018-04-16 12:36] cehwitham commented on #220
Also needs the horizontal divider and the search result count adding @Android63

[2018-04-16 13:47] Android63 commented on #220
Oh yes, thanks @cehwitham. I've added it as an issue at https://github.com/NHSLeadership/nightingale-wp/issues/116

[2018-04-25 14:55] Android63 opened #224 "Missing lower part of double header border"
Purple strip has gone missing.

[2018-04-25 15:31] Android63 opened #226 "Fix ribbon and breadcrumb width"
According to https://share.goabstract.com/647598fb-284d-4112-9f75-454609d76b60 page-specific partnership ribbons and breadcrumbs should be 30px wider on both sides than the main page content with 30px padding on both sides so the text lines up vertically with the content above and below them. Breadcrumbs should also appear directly under the double page header, with no gap, unless there are other

[2018-05-10 09:01] Android63 opened #228 "Including .css files with @import is non-standard behaviour"
DEPRECATION WARNING on line 85, column 8 of stdin:
Including .css files with @import is non-standard behaviour which will be removed in future versions of LibSass.
Use a custom importer to maintain this behaviour. Check your implementations documentation on how to create a custom importer.

[2018-05-11 10:44] Android63 opened #229 "Review double border fix"
@csswizardry I've fixed issue https://github.com/NHSLeadership/nightingale/issues/224 but could you review please?

So you can easily find it, I've marked my fix (in _components.page-header.scss) with the comment "Temporary fix. See Nightingale issue #229".

I believe the issue occurred after you updated tools/_tools.mixins.scss to use table rather than block when there's both a before and after p

[2018-05-22 10:22] Android63 opened #234 "Remove purple tint overlay from images"
Following discussion here https://github.com/NHSLeadership/nightingale-wp/issues/21 we should rename c-media__masthead to c-media__masthead--overlay.

[2018-05-22 10:47] penpadstudio opened #236 "Homepage icon breadcrumb"
Can we update/change the home icon from the icon to the text 'Homepage' or 'Home' as we would like to only use icons when they are visually supported by text for accessibility. This came from NHS digital accessibility session and the advice given by a user.

[2018-05-22 12:38] Android63 opened #237 "Distorted images on posts page"
Images on blog post listing page are being given a 16:9 aspect ratio and getting distorted in the process.

![screen shot 2018-05-22 at 13 34 05](https://user-images.githubusercontent.com/1991226/40362624-fa849c0a-5dc4-11e8-8384-25057b9f50ad.png)

[2018-05-22 14:08] Android63 commented on #237
Oops. I raised this in the wrong repo.

[2018-05-22 14:08] #237 closed, assigned to nobody

[2018-06-04 08:30] #220 closed, assigned to cehwitham, penpadstudio

[2018-06-11 11:16] #234 closed, assigned to Android63

[2018-06-11 11:18] Android63 commented on #228
@csswizardry what do you think about this?

[2018-06-11 11:21] #226 closed, assigned to Android63

[2018-06-11 11:22] #224 closed, assigned to Android63

[2018-06-11 14:42] #200 closed, assigned to Android63, cehwitham

[2018-06-11 14:44] #199 closed, assigned to Android63, cehwitham

[2018-06-11 14:50] Android63 commented on #193
How about we show the noscript ribbon by default but run a JS script to hide it? That way, it  will remain if JS is disabled. My slight concern here is that it might flash up momentarily.

[2018-06-11 14:53] #187 closed, assigned to Android63

[2018-06-11 14:55] #184 closed, assigned to Android63

[2018-06-11 14:57] Android63 commented on #183
Closing this as it was addressed elsewhere.

<img width="265" alt="screen shot 2018-06-11 at 15 56 26" src="https://user-images.githubusercontent.com/1991226/41239337-0a57af3e-6d90-11e8-80e1-0987018cacc1.png">

[2018-06-11 14:57] #183 closed, assigned to nobody

[2018-06-11 14:59] Android63 commented on #182
This has been fixed as part of the header rewrite.

<img width="282" alt="screen shot 2018-06-11 at 15 59 09" src="https://user-images.githubusercontent.com/1991226/41239566-794c320c-6d90-11e8-9d1a-22519695744d.png">

[2018-06-11 14:59] #182 closed, assigned to nobody

[2018-06-11 15:15] #178 closed, assigned to Android63

[2018-06-11 15:19] Android63 commented on #176
Should we be opening links in new tabs/windows? Apparently, this goes against accessibility guidelines. So perhaps we can solve this by simply not doing it. https://www.webcredible.com/blog/beware-opening-links-new-window/

[2018-06-11 15:22] Android63 commented on #175
I'm wondering if we should be using this at all. See https://github.com/NHSLeadership/nightingale/issues/176

[2018-06-11 15:40] Android63 commented on #169
Closing this as it's in Nightingale.

For reference use:
[code]

[2018-06-11 15:40] #169 closed, assigned to nobody

[2018-06-11 15:48] #166 closed, assigned to Android63

[2018-06-11 15:50] Android63 commented on #168
Duplicate of https://github.com/NHSLeadership/nightingale/issues/162

[2018-06-11 15:50] #168 closed, assigned to nobody

[2018-06-11 15:54] Android63 commented on #161
Is it safe to say then that nothing needs to be added to the Nightingale framework @Pro-Paul?

[2018-06-12 08:21] penpadstudio commented on #161
@Android63 can you be more specific please.

[2018-06-12 08:57] Android63 commented on #161
I'm wondering if we need any new components in the Nightingale framework to address this issue. It seems that we probably don't since it's a case of using existing components.

[2018-06-12 09:00] penpadstudio commented on #161
All components and elements are already in the framework for the panels, correct.

[2018-06-12 09:05] Android63 commented on #161
OK thanks @Pro-Paul. In that case I'll unassign Harry since this doesn't need any CSS wizardry.

[2018-06-12 09:22] Android63 commented on #106
This has been fixed, probably in https://github.com/NHSLeadership/nightingale/issues/108, so I'm closing this issue.

[2018-06-12 09:22] #106 closed, assigned to csswizardry

[2018-06-12 09:28] #104 closed, assigned to Android63

[2018-06-14 10:52] Android63 opened #241 "Keep the main headers as you scroll down on mobile"
This was raised by M&E as part of the corporate website reskin and, since it's an untested hypothesis, I'm raising it here as a question.

[2018-06-17 14:50] penpadstudio commented on #241
This is something that was originally meant to be implemented, but due to technical limitations was dropped until we had a more solid foundation. So my answer to the question of should we include this feature is yes. Its more of a question of priority and technical implementation viability etc.

[2018-06-18 13:17] Android63 opened #242 "Breakpoint for nav allows double line menu"
Should wrap to mobile layout if menu doesn’t fit on one line.

![image](https://user-images.githubusercontent.com/1991226/41538660-b7a64114-7303-11e8-9d09-b68195d8b7c1.png)

[2018-06-18 13:25] Android63 opened #243 "Proximity of search bar and menu button in mobile layout"
Need white space to separate the search bar from the menu buttons. At the moment they are too close.

![image](https://user-images.githubusercontent.com/1991226/41538716-d430034c-7303-11e8-82d9-78b6da1b6c3c.png)

See https://www.creativebloq.com/graphic-design/gestalt-theory-10134960#04-proximity-aka-grouping

[2018-06-18 13:36] Android63 opened #244 "Logo too close to search bar on mobile layout"
Need margin between logo and search bar, if present.

![image](https://user-images.githubusercontent.com/1991226/41539119-df1a46fe-7304-11e8-8969-cd7f8e94bc74.png)

[2018-06-18 13:41] Android63 opened #245 "Remove search bar placeholder on focus"
Users try and select the "search" text placeholder to delete it as it occupies the space they want to fill. Suggest JS or CSS should be used to remove placeholder when search box is given focus.

[2018-06-18 13:45] Android63 opened #246 "Proximity of items on listing pages"
On listings pages the experience is as one very hard to consume block of text.

The only way to determine if content items are related to each other is through prior knowledge of the structure of content following a pattern of title, text, call to action.

Proximity or other separation devices should be used to a greater degree to show related and unrelated items of content.

Suggestion: Wrap rela

[2018-06-18 13:46] Android63 opened #247 "Contrast"
Black on white is not accessible for dyslexics. Use off white backgrounds and less black text. Suggestion of at least a #ededed / #d6dee1 background and dark grey text.

[2018-06-18 15:53] Android63 opened #248 "Listing pages on mobile"
The layout of article listing pages on mobile needs improving.

![screen shot 2018-06-18 at 16 47 08](https://user-images.githubusercontent.com/1991226/41547161-58c9710c-7317-11e8-99d9-4eeb5bac1161.png)

Although articles are separated by horizontal rules, they are quite close together and people with dyslexia might struggle to tell where one ends and another begins.

Also, left and right aligned

[2018-06-20 08:36] #173 closed, assigned to Android63

[2018-06-20 08:46] #202 closed, assigned to Android63

[2018-06-21 10:10] #215 closed, assigned to Android63

[2018-07-09 13:04] penpadstudio commented on #87
@cehwitham I believe this issue can be closed, do you agree. From what I can try to understand it was opened about the icon being on the login, which is no longer the case, correct?

[2018-07-09 13:12] penpadstudio commented on #89
Unless I am mistaken I don't this the data set 1 has been built into Nightingale.
The progress bar is there though but as an old design:
![screen shot 2018-07-09 at 14 12 14](https://user-images.githubusercontent.com/23170050/42452514-22f9bdc2-8382-11e8-9a7e-e645bb55f8a2.png)

[2018-07-09 13:16] penpadstudio commented on #97
I believe this can be closed as the article (excerpts) are now built into Nightingale:

![screen shot 2018-07-09 at 14 15 36](https://user-images.githubusercontent.com/23170050/42452670-a230557e-8382-11e8-8eb1-2955659146ab.png)

[2018-07-09 13:16] #97 closed, assigned to csswizardry

[2018-07-09 13:18] penpadstudio commented on #102
Has this been completed @jdbrew ?

[2018-07-09 13:23] penpadstudio commented on #117
Hi @ishanivardhan  I am closing this issue a. because this should have originally been hosted on the Moodle nightingale repo not the Nightingale original repo as it seems to affect Moodle more, b. it seems quite old and dated and not defined to one issue. If you need to re-open please feel free to copy and of this and re-post on the Moodle Nightingale repo. Thanks.

[2018-07-09 13:23] #117 closed, assigned to csswizardry, penpadstudio

[2018-07-09 13:26] penpadstudio commented on #193
@csswizardry @Android63 @cehwitham was this adhered for? If not we can use browser default until we have done our basic checks for Nightingale and move onto next iterations.

[2018-07-09 13:30] penpadstudio commented on #123
@csswizardry @Android63 @cehwitham Is this issue solved? Is this a priority for v.1 Nightingale?

[2018-07-09 13:34] penpadstudio commented on #194
@Android63 is this because it is now defined as npm run deploy instead of npm run build? Was the correct file updated?

[2018-07-09 13:49] penpadstudio commented on #128
@csswizardry @cehwitham Was this ever resolved?

[2018-07-09 13:54] ishanivardhan commented on #123
Yes with the fix from @csswizardry dated 4th Sept 2017, it works fine for me.

[2018-07-09 13:55] penpadstudio commented on #123
@ishanivardhan Are we happy to close this issue then?

[2018-07-09 13:56] ishanivardhan commented on #123
Fine by me @Pro-Paul unless @Android63 or @cehwitham have something to add.

[2018-07-09 13:57] penpadstudio commented on #135
@csswizardry @cehwitham This issue still seems to be active.

[2018-07-09 14:08] penpadstudio commented on #141
@csswizardry @cehwitham Has this been put in place or still ongoing? Accessibility issue perhaps?

[2018-07-09 14:11] penpadstudio commented on #142
@csswizardry @cehwitham Do we know if this has been implemented?

[2018-07-09 14:12] penpadstudio commented on #144
@csswizardry @cehwitham has this been addressed?

[2018-07-09 14:14] penpadstudio commented on #145
@csswizardry @cehwitham @chriscoffee Has this been addressed?

[2018-07-09 14:27] penpadstudio commented on #152
@cehwitham for the time being we might leave this off v1 and add in after as it doesn't seem to be built in anyway and we have still to add in the pattern guidance on it I believe. Will close the issue for now and re-open when needed.

[2018-07-09 14:27] #152 closed, assigned to nobody

[2018-07-09 14:30] penpadstudio commented on #153
@cehwitham This could be used in situ i.e. GDPR checkbox for compliance perhaps. Still needs to be implemented into the nightingale build.

[2018-07-09 14:33] penpadstudio commented on #154
Closing issue as we no longer create disabled states, as per GDS guidance patterns.

[2018-07-09 14:33] #154 closed, assigned to csswizardry

[2018-07-09 14:34] penpadstudio commented on #155
@csswizardry @cehwitham Still need to implement this form module.

[2018-07-09 14:35] penpadstudio commented on #156
@csswizardry @cehwitham This module still needs building in Nightingale.

[2018-07-09 14:38] penpadstudio commented on #159
@ishanivardhan @csswizardry @cehwitham This has not been built into v1 Nightingale from what I can remember this may have been dropped for v1 launch. Anybody else remember? Also tagged you @ishanivardhan  as you were previously asking about Audio file designs.

[2018-07-09 14:41] penpadstudio commented on #160
@cehwitham @Android63 have we come to a conclusion on the tech behind the design?

[2018-07-09 14:51] penpadstudio commented on #161
@Android63 @cehwitham these are now being called cards (not Panels) and we have the card outline but they are not set up with media elements inside on the build.

[2018-07-09 14:53] penpadstudio commented on #162
Here are the latest versions of the designs for pagination components which need updating in the build to be compliant with v1 design:

<img width="686" alt="screen shot 2018-07-09 at 15 52 20" src="https://user-images.githubusercontent.com/23170050/42457782-40ceac28-8390-11e8-9e1f-dc581c710ed3.png">

[2018-07-09 14:58] ishanivardhan commented on #159
Yes @Pro-Paul if and when the designs on this get finalised, would be great to see it Live.
I do have an outstanding issue wrt white background of audio on white screen in my Moodle theme repo. https://github.com/NHSLeadership/moodle-theme_nightingale/issues/83

[2018-07-10 09:44] penpadstudio commented on #171
Closed due to being in the wrong repo. Please move to Moodle repo if needed @ishanivardhan

[2018-07-10 09:44] #171 closed, assigned to penpadstudio

[2018-07-10 09:47] penpadstudio commented on #174
@ishanivardhan was this resolved? Should we move this to Moodle as its more of a question designed for the styling in Moodle...?

[2018-07-10 09:48] ishanivardhan commented on #174
Sure @Pro-Paul ! Thanks!

[2018-07-10 09:50] penpadstudio commented on #174
@ishanivardhan closed issue, feel free to move to Moodle repo. thanks.

[2018-07-10 09:50] #174 closed, assigned to csswizardry

[2018-07-10 09:52] penpadstudio commented on #175
Closed due to being Moodle specific, please feel free to pick up again in Moodle repo @ishanivardhan

[2018-07-10 09:52] #175 closed, assigned to nobody

[2018-07-10 09:57] penpadstudio commented on #176
@Android63 what is happening with this issue?

[2018-07-10 09:58] penpadstudio commented on #181
@Android63  what happened with this issue?

[2018-07-10 09:59] penpadstudio commented on #191
@cehwitham @Android63 @csswizardry Can this issue be closed?

[2018-07-10 10:02] Pro-Paul commented on #212
@Android63 @cehwitham missing cookie ribbon from visual spin-up of framework

[2018-07-10 10:04] penpadstudio commented on #212
@Android63 @cehwitham still missing icon from ribbon

[2018-07-10 10:05] penpadstudio commented on #213
@cehwitham @Android63 Issue still needs correcting

[2018-07-10 10:09] penpadstudio commented on #214
@cehwitham @Android63  we still need to add these in.

[2018-07-10 10:10] penpadstudio commented on #216
@cehwitham @Android63 how does the mechanics of the padding work with current tabs?

[2018-07-10 10:12] penpadstudio commented on #217
@cehwitham @Android63 Add example to demo page please. Thanks

[2018-07-10 10:21] penpadstudio commented on #218
@cehwitham

Correct.

Yes they were but for v1 release they were changed back to  # 231F20

Title headings: 24px H3
Column headings: 18px H4
Table text: 14px Supporting para

Last column is alway right aligned unless we run into a use case when we need an exception.

[2018-07-10 10:22] penpadstudio commented on #219
@cehwitham @Android63 Here are the latest versions of the designs for pagination components which need updating in the build to be compliant with v1 design:

<img width="686" alt="screen shot 2018-07-09 at 15 52 20" src="https://user-images.githubusercontent.com/23170050/42457782-40ceac28-8390-11e8-9e1f-dc581c710ed3.png">

[2018-07-10 10:23] penpadstudio commented on #162
Closed due to multiple issues clashing.

[2018-07-10 10:23] #162 closed, assigned to csswizardry

[2018-07-10 10:25] penpadstudio commented on #222
@cehwitham I removed the ribbon and did a PR check the backlog. Somehow the ribbon has managed to find its way back into the spin-up

[2018-07-10 10:28] penpadstudio commented on #223
@cehwitham @csswizardry @Android63 This is a high priority it is the foundation of the framework in it rawest form. We really need to get this right as it has a knock on effect of all other elements etc.

[2018-07-10 10:29] penpadstudio commented on #228
@Android63 is this resolved?

[2018-07-10 10:32] penpadstudio commented on #229
@Android63 as far as I can see this has not been resolved:
![screen shot 2018-07-10 at 11 32 04](https://user-images.githubusercontent.com/23170050/42504868-f2b858d6-8434-11e8-9838-9b026f38f563.png)

[2018-07-10 10:34] penpadstudio commented on #236
@Android63 @cehwitham
![screen shot 2018-07-10 at 11 33 37](https://user-images.githubusercontent.com/23170050/42504930-27a50760-8435-11e8-8a80-239098deaeff.png)

[2018-07-10 10:36] penpadstudio commented on #242
@Android63 @cehwitham Correct this is a standard as far as I'm concerned and should already be implemented, otherwise its just messy.

[2018-07-10 10:38] penpadstudio commented on #243
@cehwitham @Android63 you are pointing out things that are already documented in the original design! We know there should be a space there and its in the design, but the build is not rejecting that.
<img width="410" alt="screen shot 2018-07-10 at 11 38 04" src="https://user-images.githubusercontent.com/23170050/42505124-bf0560c8-8435-11e8-96f1-0e5af18177f5.png">

[2018-07-10 10:39] penpadstudio commented on #243
Not sure why linking to theory article is any use here basically.

[2018-07-10 10:41] penpadstudio commented on #244
@cehwitham @Android63 I agree and we need to align up to the original designs:

https://share.goabstract.com/6098778b-0a90-4a22-ad43-3bb07671199f

[2018-07-10 10:43] penpadstudio commented on #245
@Android63 Agreed. the placeholder search text should disappear on clicking or tapping in the box.

[2018-07-10 10:44] penpadstudio commented on #246
@Android63 please link to visual example

[2018-07-10 10:46] penpadstudio commented on #247
@Android63 please move this to accessibility disunion that @ishanivardhan set up.

[2018-07-10 10:46] #247 closed, assigned to nobody

[2018-07-10 10:49] penpadstudio commented on #248
@Android63 we will test this in testing after launching corp site please feel free to raise after.

[2018-07-10 10:49] #248 closed, assigned to nobody

[2018-07-10 10:49] #87 closed, assigned to nobody

[2018-07-10 10:51] cehwitham commented on #89
@Pro-Paul it sounds like this is a pretty old issue.

Should we close this and split it into the 3 component parts of the new design? Could you create issues please? Are these in v1.0?

[2018-07-10 10:54] cehwitham commented on #193
I don't believe this has been implemented yet @Pro-Paul

[2018-07-10 10:55] cehwitham commented on #128
This is still open @Pro-Paul

[2018-07-10 10:55] #123 closed, assigned to csswizardry

[2018-07-10 10:57] cehwitham commented on #141
How much do we want to support IE8? It's below our minimum browser spec.

[2018-07-10 10:59] cehwitham commented on #142
I don't believe so. But not sure how much effort we need to put into IE8.

Also, IE8 is hardly going to be using responsive windows and phone screens.

Could you look at Analytics @Pro-Paul and see what usage is like please?

[2018-07-10 11:02] cehwitham commented on #160
@jdbrew is doing some research into using Vimeo Pro.

[2018-07-10 11:05] cehwitham commented on #161
@Pro-Paul so do we just need to add to the example page?

[2018-07-10 13:09] #89 closed, assigned to penpadstudio

[2018-07-10 13:14] penpadstudio opened #249 "Input data set 1 to Nightingale build"
This is data set 1 which in theory is used to display short static or interactive data. It consists of a one line H1 heading with the focus data and a default one to two line paragraph of supporting text. please see below:

<img width="345" alt="screen shot 2018-07-10 at 14 11 34" src="https://user-images.githubusercontent.com/23170050/42511947-3219c2e2-844b-11e8-8987-794c4a29b3bf.png">

[2018-07-10 13:18] penpadstudio opened #250 "Input progress bar to Nightingale build"
This is progress bar  which in theory is used to display the length of time or steps to complete a task.
please see below:

<img width="695" alt="screen shot 2018-07-10 at 14 16 23" src="https://user-images.githubusercontent.com/23170050/42512179-d868f708-844b-11e8-9118-de4bbd190cc6.png">

[2018-07-10 13:20] penpadstudio commented on #193
@cehwitham is messaging something we need for Nightingale at this point anyway?

[2018-07-10 13:22] penpadstudio commented on #141
@cehwitham if its below our minimum browser spec then I don't think we should have it listed as an issue. What is our minimum browser support?

[2018-07-10 13:45] penpadstudio commented on #142
We should drop the concern for IE 8 see attached reports for last 30 days and last 6 months. Most users are upgraded to IE11 surprisingly!

[Analytics NHS Leadership Academy Browser & OS 20180610-20180709.pdf](https://github.com/NHSLeadership/nightingale/files/2180580/Analytics.NHS.Leadership.Academy.Browser.OS.20180610-20180709.pdf)
[Analytics NHS Leadership Academy Browser & OS 20171210-20180709

[2018-07-10 13:45] penpadstudio commented on #142
@cehwitham if you agree please go ahead and close all IE8 issues. thx

[2018-07-10 13:47] penpadstudio commented on #161
@cehwitham yes, just need to implement them

[2018-07-10 14:58] penpadstudio commented on #223
# ***UPDATE***

#### Summary:
* Align current built Headings to designed line heights and spacing
* Align current built paragraphs to designed line heights and spacing

#### Steps to reproduce:
Need to create Mix-ins to allow the line heights to be set relatively for user device and if changes are made then they do not push all other measurements out of line (font sizing currently does this I beli

[2018-07-11 09:13] penpadstudio commented on #223
@cehwitham @Android63
Sharing an article to back up what I am trying to explain as being a priority:

![screen shot 2018-07-11 at 09 55 20](https://user-images.githubusercontent.com/23170050/42562190-f591b430-84f2-11e8-8ca7-bf4f7b404fa6.png)

https://designnotes.blog.gov.uk/2018/02/19/developing-new-typography-and-spacing-for-gov-uk-frontend/

[2018-07-11 14:23] penpadstudio opened #251 "Beta ribbon"
#### Summary:
The open in new window/tab icon is incorrect on the beta ribbon.

#### Steps to reproduce:
Open any page on the staging site. https://nhslwpcorporate.nightingale.qa.kops.nhsx.uk/

#### Expected results:
The open in new window/tab icon should be NHS black.
<img width="665" alt="screen shot 2018-07-11 at 15 22 17" src="https://user-images.githubusercontent.com/23170050/42578382-4735379

[2018-07-11 15:09] penpadstudio commented on #251
Nightingale wiki for reference: https://github.com/NHSLeadership/nightingale/wiki/%28c%29Prototype-Ribbons

[2018-08-07 15:17] penpadstudio commented on #243
#244

[2018-08-13 10:46] csswizardry commented on #194
I can’t reproduce this with any permutation of Hints included/excluded/enabled/disabled. Closing for now; please reopen if I’ve missed anything.

[2018-08-13 10:46] #191 closed, assigned to csswizardry

[2018-08-13 10:48] csswizardry commented on #135
This is somewhat on-purpose; we want the focus to be moved to the correct element when a keyboard user is interacting with the nav… The blue highlight tells them where their current focus now lies.

[2018-08-13 10:53] csswizardry commented on #229
@Pro-Paul: It appears to be fixed in `develop`:
![image](https://user-images.githubusercontent.com/751944/44027739-785c360e-9eef-11e8-8cc5-90c4ce7aaedb.png)

@Android63: Good spot! That seems to be the fix 👍

[2018-08-13 10:53] cehwitham commented on #135
@csswizardry can see this is good for keyboard users, just looks a bit odd for mouse users on initial menu load. Would there be some way for the menu itself to be the focus when it opens rather than the first element?

[2018-08-13 11:06] csswizardry commented on #193
All we need to do is take an existing message component and wrap it in either `<noscript>` tags or a conditional comment (`<!--[if lte IE 8]>`). This is going to be really trivial to implement, we just need to Do It™.

[2018-08-13 11:34] csswizardry commented on #223
@Pro-Paul: It looks like you made good headway on this… how much more is there to do?

[2018-08-13 11:44] csswizardry commented on #223
Carrying work over from #209.

[2018-08-13 14:06] penpadstudio commented on #223
Harry has updated the CSS so that we can now customise the font size along with the line heights for headings.

[2018-08-13 14:06] #223 closed, assigned to csswizardry, Android63, cehwitham, ishanivardhan

[2018-08-13 14:18] penpadstudio commented on #128
Need to double check colour coordination for links from design files.

[2018-08-14 10:20] csswizardry commented on #251
This is correct in Nightingale itself (i.e. this repo) so if there’s a bug elsewhere it probably needs filing elsewhere. This is what current `develop` looks like:

![image](https://user-images.githubusercontent.com/751944/44086309-0b7793b0-9fb4-11e8-8d01-2b7ef5c5a9e6.png)

[2018-08-14 10:27] cehwitham commented on #251
@Android63 @ishanivardhan are you able to implement this with the black icon in Moodle and WP?

[2018-08-14 10:55] #251 closed, assigned to Android63, cehwitham

[2018-08-14 11:16] csswizardry commented on #251
FYI, the bug is in the implementation, not Nightingale. We just need to remove the `u-links-darkbg` class 👍

![image](https://user-images.githubusercontent.com/751944/44088651-e175db46-9fbb-11e8-9ac9-8f8a627c3957.png)

[2018-08-14 11:37] #250 closed, assigned to Android63, cehwitham

[2018-08-14 13:22] csswizardry opened #256 "Address dependency vulnerability"
Let’s try fix this: https://github.com/NHSLeadership/nightingale/network/dependencies

[2018-08-14 14:02] #256 closed, assigned to csswizardry

[2018-08-14 14:17] csswizardry commented on #102
I’d like to elaborate on this a little more if we can. @jdbrew’s ‘`// to-do: does this work?`’ implies this is a little more complex than has been let on 😉

[2018-08-14 16:15] cehwitham commented on #102
@jdbrew give me a call to discuss this at some point.

[2018-08-21 13:00] penpadstudio opened #258 "Breadcrumbs"
- Summary

The breadcrumbs has a couple of issues to highlight:
 1. The current link should be un-tapable as user is already on that page. (no underline)
 2. The current link should always be in shot of page and when breadcrumbs reach the right side of page breadcrumbs should become right aligned. (scroll to left to backtrack)
 3. Links should react the same as heading links.

- Steps to reproduce

[2018-08-22 14:22] penpadstudio opened #259 "Index server 1234 git command not working on develop branch"
So I am getting a visual error on develop branch see below:
![screen shot 2018-08-22 at 14 15 15](https://user-images.githubusercontent.com/23170050/44469190-d7875380-a61e-11e8-8859-e829c428f453.png)

Spoken to @ishanivardhan  and tried to resolve but as she was not getting the same error on her machine we couldn't understand or fix the issue.

If any one can shed some light on this please do, tha

[2018-08-28 09:14] cehwitham commented on #259
@Pro-Paul which branch are you on? Did the npm commands run ok to build the CSS?

[2018-08-28 09:24] penpadstudio commented on #259
Develop branch. Yes the commands run and CSS is built but not quite right.

[2018-09-13 14:32] cehwitham opened #261 "Node version out of date for CircleCI"

[2018-10-17 15:47] Android63 opened #262 "Burger menu position"
In mobile view the burger menu sits below the search bar as shown below:

![image from ios](https://user-images.githubusercontent.com/1991226/47098913-0e977100-d22c-11e8-8ef0-8b142e3b4064.png)

Maybe better to put it next to the search bar?

[2018-10-18 09:21] Android63 opened #263 "Favicon"
Add a favicon such as this one from NHS England:

![favicon](https://user-images.githubusercontent.com/1991226/47144530-8cf12300-d2bf-11e8-96a3-2b544d85cdfa.png)

[2019-06-19 11:47] #228 closed, assigned to nobody

[2019-06-19 11:51] csswizardry commented on #102
Closing this due to lack of appetite.

[2019-06-19 11:51] #102 closed, assigned to csswizardry

[2019-06-19 11:54] #263 closed, assigned to nobody

[2019-06-19 11:54] cehwitham commented on #263
Compelted.

[2019-10-22 00:22] csswizardry opened #271 "Kill Off Forced Repaint"
A very odd bug in Safari has since been fixed, so we can remove the hack from the codebase. Yay!

[2020-01-24 10:55] Lorem-1psum opened #274 "User guide feedback - accessibility"
I've had feedback from a user saying that the current guide available [here ](https://digital.leadershipacademy.nhs.uk/digital-capabilities/websites/nhs-blocks-user-guide/) isn't suitable for some visually impaired users.

The user finds it difficult to make use of videos as they don't offer detail on the scale they need and they also found it difficult to make use of the screenshots provided as t

[2021-03-02 13:18] Lorem-1psum opened #276 "Misalignment of text w/ hero blocks"
Hero blocks and paragraph blocks don't line up when using the default template. This is not an issue when using the full-width template however.

Example below of the issue:

![image](https://user-images.githubusercontent.com/56262364/109654118-b7bf3780-7b59-11eb-991c-be4490b72d14.png)